modules = ["java-graalvm22.3", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Spring Boot App"

[[workflows.workflow]]
name = "Run Spring Boot App"
author = 41089581
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ONECLICK_PATH=/home/runner/workspace/ mvn spring-boot:run"

[[ports]]
localPort = 5000
externalPort = 3000

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 35729
externalPort = 80
