<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.FeatureDao">

    <resultMap type="com.hu.oneclick.model.domain.Feature" id="FeatureMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="epic" column="epic" jdbcType="VARCHAR"/>
        <result property="reportTo" column="report_to" jdbcType="VARCHAR"/>
        <result property="featureStatus" column="feature_status" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="module" column="module" jdbcType="VARCHAR"/>

    </resultMap>
    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultMap="FeatureMap">
        select
        id, project_id, epic, report_to, feature_status, version, description, close_date, author_name, create_time,
        title, user_id, update_time,moudle
        from oneclick.feature
        <where>
            user_id = #{userId}
            and project_id = #{projectId}
            <if test="reportTo != null and reportTo != ''">
                and report_to = #{reportTo}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="closeDateBegin != null and closeDateEnd != null">
                and close_date &gt; #{closeDateBegin}
                and close_date &lt; #{closeDateEnd}
            </if>
            <if test="authorName != null and authorName != ''">
                and author_name = #{authorName}
            </if>
            <if test="createTimeBegin != null and createTimeEnd != null">
                and create_time &gt; #{createTimeBegin}
                and create_time &lt; #{createTimeEnd}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>


            <if test="filter != null and filter != ''">
                ${filter}
            </if>

        </where>
    </select>

    <!--查询单个-->
    <select id="queryById" resultType="com.hu.oneclick.model.domain.Feature">
        select
            f.id as id,
            f.project_id as projectId,
            f.epic as epic,
            f.report_to as reportTo,
            f.feature_status as status,
            f.version as version,
            f.description as description,
            f.close_date as closeDate,
            f.author_name as authorName,
            f.create_time as createTime,
            f.title as title,
            f.update_time as updateTime,
            f.moudle as moudle
        from feature f
        where f.id=#{id} and f.user_id = #{masterId}
    </select>
    <select id="queryTitles" resultType="com.hu.oneclick.model.domain.dto.LeftJoinDto">
        select id,
        title
        from feature
        <where>
            project_id = #{projectId}
            and user_id = #{masterId}
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
        </where>
    </select>
    <select id="queryTitlesByTestCycleId" resultType="com.hu.oneclick.model.domain.Feature">
        select
        f.id as id,
            f.title as title
        from feature f
                 join test_case tc on tc.feature = f.id
                 join test_cycle_join_test_case tcjtc on tc.id = tcjtc.test_case_id
        where tcjtc.test_cycle_id = #{testCycleId};
    </select>
    <select id="findAllByFeature"  resultMap="FeatureMap">
        select
        id, project_id, epic, report_to, feature_status, version, description, close_date, author_name, create_time,
        title, user_id, update_time,moudle
        from oneclick.feature
        <where>
            user_id = #{userId}
            and project_id = #{projectId}
            <if test="reportTo != null and reportTo != ''">
                and report_to = #{reportTo}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="closeDateBegin != null and closeDateEnd != null">
                and close_date &gt; #{closeDateBegin}
                and close_date &lt; #{closeDateEnd}
            </if>
            <if test="authorName != null and authorName != ''">
                and author_name = #{authorName}
            </if>
            <if test="createTimeBegin != null and createTimeEnd != null">
                and create_time &gt; #{createTimeBegin}
                and create_time &lt; #{createTimeEnd}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>


            <if test="filter != null and filter != ''">
                ${filter}
            </if>

        </where>
    </select>

    <!--通过主键修改数据-->
    <update id="updateByPrimaryKeySelective">
        update feature
        <set>
            <if test="epic != null and epic != ''">
                epic = #{epic},
            </if>
            <if test="reportTo != null and reportTo != ''">
                report_to = #{reportTo},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="closeDate != null">
                close_date = #{closeDate},
            </if>
            <if test="authorName != null and authorName != ''">
                author_name = #{authorName},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="moudle != null and moudle != ''">
                moudle = #{moudle},
            </if>
            update_time=NOW()
        </set>
        where id = #{id}
    </update>
</mapper>
