<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.FieldRadioDao">

    <resultMap type="com.hu.oneclick.model.entity.FieldRadio" id="FieldRadioMap">
        <result property="customFieldId" column="custom_field_id" jdbcType="INTEGER"/>
        <result property="defaultValue" column="default_value" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="FieldRadioMap">
        select custom_field_id,
               default_value
        from oneclick.field_radio
        where custom_field_id = #{customFieldId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="FieldRadioMap">
        select custom_field_id,
               default_value
        from oneclick.field_radio limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="FieldRadioMap">
        select
        custom_field_id, default_value
        from oneclick.field_radio
        <where>
            <if test="customFieldId != null and customFieldId != ''">
                and custom_field_id = #{customFieldId}
            </if>
            <if test="defaultValue != null">
                and default_value = #{defaultValue}
            </if>
            <if test="value != null">
                and `value` = #{value}
            </if>
        </where>
    </select>
    <select id="queryFieldRadioById" resultType="com.hu.oneclick.model.entity.FieldRadio">
        select r.custom_field_id as customFieldId,
               cf.type           as type,
               cf.create_time    as createTime,
               cf.update_time    as updateTime,
               cf.user_id        as userId,
               cf.field_name     as fieldName,
               cf.scope          as scope,
               cf.mandatory      as mandatory,
               cf.project_id     as projectId,
               r.default_value   as defaultValue
        from field_radio r
                 join custom_field cf on r.custom_field_id = cf.id
        where cf.id = #{customFieldId}
          and cf.user_id = #{masterId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="" useGeneratedKeys="true">
        insert into oneclick.field_radio
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customFieldId != null and customFieldId != ''">
                custom_field_id,
            </if>
            <if test="defaultValue != null">
                default_value,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customFieldId != null and customFieldId != ''">
                #{customFieldId},
            </if>
            <if test="defaultValue != null">
                #{defaultValue},
            </if>
        </trim>
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update oneclick.field_radio
        <set>
            <if test="defaultValue != null">
                default_value = #{defaultValue},
            </if>
        </set>
        where custom_field_id = #{customFieldId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from oneclick.field_radio
        where custom_field_id = #{customFieldId}
    </delete>

</mapper>
