<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.FieldDropDownDao">

    <resultMap type="com.hu.oneclick.model.entity.FieldDropDown" id="FieldDropDownMap">
        <result property="customFieldId" column="custom_field_id" jdbcType="INTEGER"/>
        <result property="defaultValue" column="default_value" jdbcType="VARCHAR"/>
        <result property="dropDownList" column="drop_down_list" jdbcType="VARCHAR"/>
        <result property="length" column="length" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="FieldDropDownMap">
        select custom_field_id,
               default_value,
               drop_down_list,
               `length`
        from oneclick.field_drop_down
        where custom_field_id = #{customFieldId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="FieldDropDownMap">
        select custom_field_id,
               default_value,
               drop_down_list,
               `length`
        from oneclick.field_drop_down limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="FieldDropDownMap">
        select
        custom_field_id, default_value, drop_down_list, `length`
        from oneclick.field_drop_down
        <where>
            <if test="customFieldId != null and customFieldId != ''">
                and custom_field_id = #{customFieldId}
            </if>
            <if test="defaultValue != null and defaultValue != ''">
                and default_value = #{defaultValue}
            </if>
            <if test="dropDownList != null">
                and drop_down_list = #{dropDownList}
            </if>
            <if test="length != null">
                and `length` = #{length}
            </if>
        </where>
    </select>
    <select id="queryFieldTextById" resultType="com.hu.oneclick.model.entity.FieldDropDown">
        select dd.custom_field_id as customFieldId,
               cf.type            as type,
               cf.create_time     as createTime,
               cf.update_time     as updateTime,
               cf.user_id         as userId,
               cf.field_name      as fieldName,
               cf.scope           as scope,
               cf.mandatory       as mandatory,
               cf.project_id      as projectId,
               dd.default_value   as defaultValue,
               dd.drop_down_list  as dropDownList,
               dd.`length`        as `length`
        from field_drop_down dd
                 join custom_field cf on dd.custom_field_id = cf.id
        where cf.id = #{customFieldId}
          and cf.user_id = #{masterId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="" useGeneratedKeys="true">
        insert into oneclick.field_drop_down
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customFieldId != null and customFieldId != ''">
                custom_field_id,
            </if>
            <if test="defaultValue != null and defaultValue != ''">
                default_value,
            </if>
            <if test="dropDownList != null">
                drop_down_list,
            </if>
            <if test="length != null">
                `length`,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customFieldId != null and customFieldId != ''">
                #{customFieldId},
            </if>
            <if test="defaultValue != null and defaultValue != ''">
                #{defaultValue},
            </if>
            <if test="dropDownList != null">
                #{dropDownList},
            </if>
            <if test="length != null">
                #{length},
            </if>
        </trim>
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update oneclick.field_drop_down
        <set>
            <if test="customFieldId != null and customFieldId != ''">
                custom_field_id = #{customFieldId},
            </if>
            <if test="defaultValue != null and defaultValue != ''">
                default_value = #{defaultValue},
            </if>
            <if test="dropDownList != null">
                drop_down_list = #{dropDownList},
            </if>
            <if test="length != null">
                `length` = #{length},
            </if>
        </set>
        where custom_field_id = #{customFieldId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from oneclick.field_drop_down
        where custom_field_id = #{customFieldId}
    </delete>

</mapper>
