<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.IssueDao">

    <resultMap type="com.hu.oneclick.model.domain.Issue" id="IssueMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="plannedReleaseDate" column="planned_release_date" jdbcType="TIMESTAMP"/>
        <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>
        <result property="testCase" column="test_case" jdbcType="INTEGER"/>
        <result property="testCycle" column="test_cycle" jdbcType="INTEGER"/>
        <result property="feature" column="feature" jdbcType="INTEGER"/>
        <result property="priority" column="priority" jdbcType="VARCHAR"/>
        <result property="env" column="env" jdbcType="VARCHAR"/>
        <result property="browser" column="browser" jdbcType="VARCHAR"/>
        <result property="platform" column="platform" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="VARCHAR"/>
        <result property="caseCategory" column="case_category" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="IssueMap">
        select id,
               project_id,
               user_id,
               title,
               author,
               status,
               planned_release_date,
               close_date,
               test_case,
               test_cycle,
               feature,
               priority,
               env,
               browser,
               platform,
               version,
               case_category,
               create_time,
               update_time,
               description
        from oneclick.issue
        where id = #{id}
    </select>


    <!--通过主键修改数据-->
    <update id="update">
        update issue
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="plannedReleaseDate != null">
                planned_release_date = #{plannedReleaseDate},
            </if>
            <if test="closeDate != null">
                close_date = #{closeDate},
            </if>
            <if test="testCase != null">
                test_case = #{testCase},
            </if>
            <if test="testCycle != null">
                test_cycle = #{testCycle},
            </if>
            <if test="feature != null">
                feature = #{feature},
            </if>
            <if test="priority != null and priority != ''">
                priority = #{priority},
            </if>
            <if test="env != null and env != ''">
                env = #{env},
            </if>
            <if test="browser != null and browser != ''">
                browser = #{browser},
            </if>
            <if test="platform != null and platform != ''">
                platform = #{platform},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="caseCategory != null and caseCategory != ''">
                case_category = #{caseCategory},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            update_time =NOW()
        </set>
        where id = #{id}
    </update>

</mapper>