<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.IssueDao">

    <resultMap type="com.hu.oneclick.model.entity.Issue" id="IssueMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <!--        <result property="userId" column="user_id" jdbcType="INTEGER"/>-->
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <!--        <result property="author" column="author" jdbcType="VARCHAR"/>-->
        <result property="issueStatus" column="issue_status" jdbcType="INTEGER"/>
        <!--        <result property="plannedReleaseDate" column="planned_release_date" jdbcType="TIMESTAMP"/>-->
        <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>
        <!--        <result property="testCase" column="test_case" jdbcType="INTEGER"/>-->
        <!--        <result property="testCycle" column="test_cycle" jdbcType="INTEGER"/>-->
        <!--        <result property="feature" column="feature" jdbcType="INTEGER"/>-->
        <result property="priority" column="priority" jdbcType="VARCHAR"/>
        <result property="env" column="env" jdbcType="VARCHAR"/>
        <result property="browser" column="browser" jdbcType="VARCHAR"/>
        <!--        <result property="platform" column="platform" jdbcType="VARCHAR"/>-->
        <!--        <result property="version" column="version" jdbcType="VARCHAR"/>-->
        <result property="caseCategory" column="case_category" jdbcType="VARCHAR"/>
        <result property="releasePhase" column="release_phase" jdbcType="VARCHAR"/>
        <result property="foundAfterRelease" column="found_after_release" jdbcType="BOOLEAN"/>
        <result property="releasedVersion" column="released_version" jdbcType="VARCHAR"/>
        <result property="issueVersion" column="issue_version" jdbcType="VARCHAR"/>
        <result property="introducedVersion" column="introduced_version" jdbcType="VARCHAR"/>
        <result property="isLegacy" column="is_legacy" jdbcType="BOOLEAN"/>
        <result property="fixVersion" column="fix_version" jdbcType="VARCHAR"/>
        <result property="severity" column="severity" jdbcType="VARCHAR"/>
        <result property="testDevice" column="test_device" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>
    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultMap="IssueMap">
        select
        id, project_id, user_id, title, status, planned_release_date, close_date,
        priority, env, browser, platform, version, case_category, release_phase, found_after_release, released_version, 
        issue_version, introduced_version, is_legacy, fix_version, severity, test_device, create_time, update_time, description
        from oneclick.issue
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>

            <if test="status != null">
                and status = #{status}
            </if>
            <if test="closeDate != null">
                and close_date = #{closeDate}
            </if>

            <if test="priority != null and priority != ''">
                and priority = #{priority}
            </if>
            <if test="env != null and env != ''">
                and env = #{env}
            </if>
            <if test="browser != null and browser != ''">
                and browser = #{browser}
            </if>
            <if test="platform != null and platform != ''">
                and platform = #{platform}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="caseCategory != null and caseCategory != ''">
                and case_category = #{caseCategory}
            </if>
            <if test="releasePhase != null and releasePhase != ''">
                and release_phase = #{releasePhase}
            </if>
            <if test="foundAfterRelease != null">
                and found_after_release = #{foundAfterRelease}
            </if>
            <if test="releasedVersion != null and releasedVersion != ''">
                and released_version = #{releasedVersion}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>


            <if test="filter != null and filter != ''">
                ${filter}
            </if>


        </where>
    </select>
    <!--查询单个-->
    <select id="queryById" resultMap="IssueMap">
        select id,
               project_id,
               user_id,
               title,
               status,
               close_date,
               priority,
               env,
               browser,
               platform,
               version,
               case_category,
               release_phase,
               found_after_release,
               released_version,
               issue_version,
               introduced_version,
               is_legacy,
               fix_version,
               severity,
               test_device,
               create_time,
               update_time,
               description
        from oneclick.issue
        where id = #{id}
    </select>


    <!--通过主键修改数据-->
    <update id="updateByPrimaryKeySelective">
        update issue
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="closeDate != null">
                close_date = #{closeDate},
            </if>


            <if test="priority != null and priority != ''">
                priority = #{priority},
            </if>
            <if test="env != null and env != ''">
                env = #{env},
            </if>
            <if test="browser != null and browser != ''">
                browser = #{browser},
            </if>
            <if test="platform != null and platform != ''">
                platform = #{platform},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="caseCategory != null and caseCategory != ''">
                case_category = #{caseCategory},
            </if>
             <if test="releasePhase != null and releasePhase != ''">
                release_phase = #{releasePhase},
            </if>
            <if test="foundAfterRelease != null">
                found_after_release = #{foundAfterRelease},
            </if>
            <if test="releasedVersion != null and releasedVersion != ''">
                released_version = #{releasedVersion},
            </if>
            <if test="issueVersion != null and issueVersion != ''">
                issue_version = #{issueVersion},
            </if>
            <if test="introducedVersion != null and introducedVersion != ''">
                introduced_version = #{introducedVersion},
            </if>
            <if test="isLegacy != null">
                is_legacy = #{isLegacy},
            </if>
            <if test="fixVersion != null and fixVersion != ''">
                fix_version = #{fixVersion},
            </if>
            <if test="severity != null and severity != ''">
                severity = #{severity},
            </if>
            <if test="testDevice != null and testDevice != ''">
                test_device = #{testDevice},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            update_time =NOW()
        </set>
        where id = #{id}
    </update>

    <select id="queryCycleAndTest" resultType="com.hu.oneclick.model.entity.Issue">
        SELECT *
        FROM issue
        where runcase_id = #{param1}

    </select>
    <select id="findAll" resultType="com.hu.oneclick.model.entity.Issue">
        select * from issue
    </select>

</mapper>