<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.MasterIdentifierDao">

    <resultMap type="com.hu.oneclick.model.domain.MasterIdentifier" id="MasterIdentifierMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryOne" resultType="com.hu.oneclick.model.domain.MasterIdentifier">
        select id, flag from master_identifier where flag = 0 limit 1
    </select>


    <!--通过主键修改数据-->
    <update id="update">
        update master_identifier
        flag = 1
        where id = #{id}
    </update>


</mapper>
