<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.ProjectDao">

    <resultMap type="com.hu.oneclick.model.domain.Project" id="ProjectMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="reportToName" column="report_to_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="planReleaseDate" column="plan_release_date" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>

    </resultMap>

    <select id="queryById" resultMap="ProjectMap">
        select id,
               user_id,
               title,
               report_to_name,
               status,
               description,
               plan_release_date,
               attachment_id,
               del_flag,
               create_time,
               update_time
        from project
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ProjectMap">
        select
          id, user_id, title, report_to_name, status, description, plan_release_date, del_flag, create_time, update_time
        from oneclick.project
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ProjectMap">
        select
        id, user_id, title, report_to_name, status, description, plan_release_date , del_flag, create_time, update_time
        from oneclick.project
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="reportToName != null and reportToName != ''">
                and report_to_name = #{reportToName}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="planReleaseDate != null">
                and plan_release_date = #{planReleaseDate}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <select id="queryByTitle" resultType="java.lang.Integer">
         select
            count(1)
        from project
        user_id = #{masterId}
        and title = #{title}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="" useGeneratedKeys="true">
        insert into oneclick.project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="userId != null and userId != ''">
                user_id,
            </if>
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="reportToName != null and reportToName != ''">
                report_to_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="planReleaseDate != null">
                plan_release_date,
            </if>
                create_time,
                update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="userId != null and userId != ''">
                #{userId},
            </if>
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="reportToName != null and reportToName != ''">
                #{reportToName},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
            <if test="planReleaseDate != null">
                #{planReleaseDate},
            </if>
            NOW(),
            NOW()
        </trim>
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update oneclick.project
        <set>
            <if test="id != null and id != ''">
                id = #{id},
            </if>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="reportToName != null and reportToName != ''">
                report_to_name = #{reportToName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="planReleaseDate != null">
                plan_release_date = #{planReleaseDate},
            </if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oneclick.project where id  = #{id}
    </delete>

</mapper>
