<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.ProjectDao">
    <!--开启缓存-->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

    <resultMap type="com.hu.oneclick.model.domain.Project" id="ProjectMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="reportToName" column="report_to" jdbcType="VARCHAR"/>
        <result property="status" column="project_status" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="planReleaseDate" column="plan_release_date" jdbcType="TIMESTAMP"/>
        <!--<result property="delFlag" column="del_flag" jdbcType="INTEGER"/> -->
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <!--        <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>-->
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
        <result property="testFrame" column="test_frame" jdbcType="VARCHAR"/>
        <result property="projectCategory" column="project_category" jdbcType="VARCHAR"/>
        <!--        <result property="closeDesc" column="close_desc" jdbcType="VARCHAR"/>-->
        <result property="customer" column="customer" jdbcType="VARCHAR"/>
        <result property="modifyUser" column="update_user_id" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryById" resultMap="ProjectMap">
        select id,
        create_user_id,
               title,
               room_id,
        report_to,
        project_status,
               description,
               plan_release_date,

               create_time,
               update_time,
        <!--close_date,-->
               test_frame,
               project_category,
        <!--close_desc,-->
               project_expand,
               customer
        from project
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ProjectMap">
        select id,
        create_user_id,
               title,
        report_to,
        project_status,
               description,
               plan_release_date,
               create_time,
               update_time,
        <!--close_date,-->
               test_frame,
               project_category,
               customer
        from oneclick.project limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ProjectMap">
        select
        id, create_user_id, title,
        report_to, project_status,
        description, plan_release_date ,
        create_time,
        update_time,
        <!--close_date,-->
        test_frame,
        project_category,customer
        <!--,close_desc-->
        from oneclick.project
        <where>
            create_user_id = #{userId}
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="reportToName != null and reportToName != ''">
                and report_to = #{reportToName}
            </if>
            <if test="status != null">
                and project_status = #{status}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="planReleaseDateBegin != null and planReleaseDateEnd != ''">
                and plan_release_date &gt; #{planReleaseDateBegin}
                and plan_release_date &lt; #{planReleaseDateEnd}
            </if>

            <!--            <if test="closeDateBegin != null and closeDateEnd != ''">-->
            <!--                and close_date &gt; #{closeDateBegin}-->
            <!--                and close_date &lt; #{closeDateEnd}-->
            <!--            </if>-->


            <if test="filter != null and filter != ''">
                ${filter}
            </if>

            order by create_time desc
        </where>
    </select>
    <select id="queryByTitle" resultType="java.lang.Integer">
        select count(1)
        from project
        where create_user_id = #{masterId}
          and title = #{title}
    </select>
    <select id="queryAllProjects" resultMap="ProjectMap">
        select id, title
        from project
        where room_id = #{roomId}
        order by create_time
    </select>

    <select id="queryAllProjectsAndPermission" resultMap="ProjectMap">
        select p.id,
               p.title,
               group_concat(s.operation_auth_id) as operation_auth_ids
        from project p
                 left join sys_project_permission s on p.id = s.project_id
        where p.create_user_id = #{masterId}
        group by p.id
        order by p.create_time
    </select>
    <select id="queryInProjectIdsAndPermission" resultMap="ProjectMap">
        select
        p.id,
        p.title
        from project p
        where p.user_id = #{masterId}
        and p.id in
        <foreach collection="projectIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by p.id
        order by p.create_time
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="" useGeneratedKeys="true">
        insert into oneclick.project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="userId != null and userId != ''">
                create_user_id,
            </if>
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="reportToName != null and reportToName != ''">
                report_to,
            </if>
            <if test="status != null">
                project_status,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="planReleaseDate != null">
                plan_release_date,
            </if>
            <if test="testFrame != null and testFrame != ''">
                test_frame,
            </if>
            <if test="projectCategory != null and projectCategory != ''">
                project_category,
            </if>

            <if test="customer != null and customer != ''">
                customer,
            </if>
            create_time,
            update_time

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="userId != null and userId != ''">
                #{userId},
            </if>
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="reportToName != null and reportToName != ''">
                #{reportToName},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
            <if test="planReleaseDate != null">
                #{planReleaseDate},
            </if>
            <if test="testFrame != null and testFrame != ''">
                #{testFrame},
            </if>
            <if test="projectCategory != null and projectCategory != ''">
                #{projectCategory},
            </if>

            <if test="customer != null and customer != ''">
                #{customer},
            </if>
            NOW(),
            NOW()
        </trim>
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update project
        <set>
            <if test="id != null and id != ''">
                id = #{id},
            </if>
            <if test="userId != null and userId != ''">
                create_user_id = #{userId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="reportToName != null and reportToName != ''">
                report_to_name = #{reportToName},
            </if>
            <if test="status != null">
                project_status = #{status},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="planReleaseDate != null">
                plan_release_date = #{planReleaseDate},
            </if>
            <!--            <if test="closeDate != null">-->
            <!--                close_date = #{closeDate},-->
            <!--            </if>-->
            <if test="testFrame != null and testFrame != ''">
                test_frame = #{testFrame},
            </if>
            <if test="projectCategory != null and projectCategory != ''">
                project_category = #{projectCategory},
            </if>
            <!--            <if test="closeDesc != null and closeDesc != ''">-->
            <!--                close_desc = #{closeDesc},-->
            <!--            </if>-->
            <if test="customer != null and customer != ''">
                customer = #{customer},
            </if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>

    <update id="updateOpenProject">
        update user_use_open_project set project_id=#{projectId} where user_id =#{userId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from oneclick.project
        where id = #{id}
    </delete>


    <!--用户操作已打开的项目-->
    <select id="queryUseOpenProject" parameterType="java.lang.String"
            resultType="com.hu.oneclick.model.domain.UserUseOpenProject">
        select uuop.id         as id,
               uuop.user_id    as userId,
               uuop.project_id as projectId,
               p.title         as title
        from user_use_open_project uuop
                 join project p on uuop.project_id = p.id
                 join sys_user su on uuop.user_id = su.id
        where su.id = #{userId} limit 1
    </select>
    <select id="queryProjectAndPermissionByProjectId"
            parameterType="java.lang.String"
            resultType="com.hu.oneclick.model.domain.Project">
        select p.id,
               p.title,
               group_concat(s.operation_auth_id) as operationAuthIds
        from project p
                 left join sys_project_permission s on p.id = s.project_id
        where p.create_user_id = #{masterId}
          and p.id = #{projectId}
        group by p.id
        order by p.create_time
    </select>


    <insert id="insertUseOpenProject">
        insert into user_use_open_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            user_id,
            project_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            #{userId},
            #{projectId}
        </trim>
    </insert>

    <delete id="deleteUseOpenProject">
        delete
        from user_use_open_project
        where id = #{id}
    </delete>

    <delete id="deleteOpenProjectByUserId">
        delete
        from user_use_open_project
        where user_id = #{userId}
    </delete>

    <insert id="initProject">
        insert into oneclick.project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="userId != null and userId != ''">
                create_user_id,
            </if>
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="reportToName != null and reportToName != ''">
                report_to,
            </if>
            <if test="status != null">
                project_status,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="planReleaseDate != null">
                plan_release_date,
            </if>
            <if test="testFrame != null and testFrame != ''">
                test_frame,
            </if>
            <if test="projectCategory != null and projectCategory != ''">
                project_category,
            </if>

            <if test="customer != null and customer != ''">
                customer,
            </if>
            <if test="roomId != null and roomId != ''">
                room_id,
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                update_user_id,
            </if>
            create_time,
            update_time

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="userId != null and userId != ''">
                #{userId},
            </if>
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="reportToName != null and reportToName != ''">
                #{reportToName},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
            <if test="planReleaseDate != null">
                #{planReleaseDate},
            </if>
            <if test="testFrame != null and testFrame != ''">
                #{testFrame},
            </if>
            <if test="projectCategory != null and projectCategory != ''">
                #{projectCategory},
            </if>

            <if test="customer != null and customer != ''">
                #{customer},
            </if>
            <if test="roomId != null and roomId != ''">
                #{roomId},
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                #{userId},
            </if>

            NOW(),
            NOW()
        </trim>
    </insert>

    <!--通过实体作为筛选条件查询-->
    <select id="findAllByProject" resultMap="ProjectMap">
        select
        id, create_user_id, title,
        report_to, project_status,
        description, plan_release_date ,
        create_time,
        update_time
        <!--,close_date-->
        ,test_frame,
        project_category,customer
        <!--,close_desc-->
        from oneclick.project
        <where>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="reportToName != null and reportToName != ''">
                and report_to = #{reportToName}
            </if>
            <if test="testFrame != null and testFrame != ''">
                and test_frame = #{testFrame}
            </if>
            <if test="status != null">
                and project_status = #{status}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="planReleaseDateBegin != null and planReleaseDateEnd != ''">
                and plan_release_date &gt; #{planReleaseDateBegin}
                and plan_release_date &lt; #{planReleaseDateEnd}
            </if>

            <!--            <if test="closeDateBegin != null and closeDateEnd != ''">-->
            <!--                and close_date &gt; #{closeDateBegin}-->
            <!--                and close_date &lt; #{closeDateEnd}-->
            <!--            </if>-->
            order by create_time desc
        </where>
    </select>
    <!--查询指定行数据-->
    <select id="queryAllByIds" resultMap="ProjectMap">
        select id,
               create_user_id,
               room_id,
               title,
               plan_release_date,
               description,
               create_time,
               update_time,
               report_to,
               test_frame,
               project_category,
               customer,
               project_expand,
               project_status,
               update_user_id,
               remarks
        from oneclick.project
        where id in (
            <foreach collection="projectIdList" item="id" separator=",">
                #{id}
            </foreach>
        )
        order by id desc
    </select>
    <select id="queryTitleByIds" resultType="com.hu.oneclick.model.domain.dto.LeftJoinDto">
        select id,title from project where id in (
            <foreach collection="projectIdList" item="id" separator=",">
                #{id}
            </foreach>
        )
        order by id desc
    </select>
</mapper>
<!--        limit #{offset}, #{limit}-->
