<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.relation.dao.RelationDao">
    <!-- 带标题的查询结果映射 -->
    <resultMap id="RelationWithTitleMap" type="com.hu.oneclick.relation.domain.Relation">
        <id column="id" property="id"/>
        <result column="object_id" property="objectId"/>
        <result column="target_id" property="targetId"/>
        <result column="category" property="category"/>
        <result column="title" property="title"/>
    </resultMap>
<!--    List<Relation> getRelationListByObjectIdAndTargetIdAndCategory(@Param("id") Long testCaseId);-->
    <select id="getRelationListByObjectIdAndTargetIdAndCategory" resultType="com.hu.oneclick.relation.domain.Relation">
        select `OBJECT_ID`, `TARGET_ID`
        from `relation`
        <where>
            <if test="id != null">
                (`OBJECT_ID` = #{id} or `TARGET_ID` = #{id})
            </if>
            <if test="categorys != null and categorys.length > 0">
                and `CATEGORY` in
                <foreach collection="categorys" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据对象ID和分类查询关系列表，并根据分类查询对应表的标题 -->
    <select id="getRelationListWithTitleByObjectIdAndCategory" resultType="com.hu.oneclick.relation.domain.Relation">
        SELECT
        r.id,
        r.object_id AS objectId,
        r.target_id AS targetId,
        r.category,
        r.ext_json AS extJson,
        <choose>
            <when test="category == 'ISSUE_TEST_CASE' or category == 'FEATURE_TEST_CASE'">
                tc.title AS title
            </when>
            <when test="category == 'TEST_CASE_ISSUE'">
                i.title AS title
            </when>
            <when test="category == 'TEST_CASE_FEATURE'">
                f.title AS title
            </when>
            <otherwise>
                '' AS title
            </otherwise>
        </choose>
        FROM relation r
        <choose>
            <when test="category == 'ISSUE_TEST_CASE' or category == 'FEATURE_TEST_CASE'">
                LEFT JOIN test_case tc ON r.target_id = tc.id
            </when>
            <when test="category == 'TEST_CASE_ISSUE'">
                LEFT JOIN issue i ON r.target_id = i.id
            </when>
            <when test="category == 'TEST_CASE_FEATURE'">
                LEFT JOIN feature f ON r.target_id = f.id
            </when>
        </choose>
        WHERE r.object_id = #{objectId}
        <if test="category != null and category != ''">
            AND r.category = #{category}
        </if>
    </select>
</mapper>
