<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.relation.dao.RelationDao">

    <!-- 插入关系记录 -->
    <insert id="insert" parameterType="com.hu.oneclick.relation.domain.Relation">
        INSERT INTO relation (
            id, 
            object_id, 
            target_id, 
            category, 
            ext_json,
            create_time,
            create_user_id
        ) VALUES (
            #{id}, 
            #{objectId}, 
            #{targetId}, 
            #{category}, 
            #{extJson},
            #{createTime},
            #{createUserId}
        )
    </insert>

    <!-- 批量插入关系记录 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO relation (
            id, 
            object_id, 
            target_id, 
            category, 
            ext_json,
            create_time,
            create_user_id
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.id}, 
            #{item.objectId}, 
            #{item.targetId}, 
            #{item.category}, 
            #{item.extJson},
            #{item.createTime},
            #{item.createUserId}
        )
        </foreach>
    </insert>
<!--    List<Relation> getRelationListByObjectIdAndTargetIdAndCategory(@Param("id") Long testCaseId);-->
    <select id="getRelationListByObjectIdAndTargetIdAndCategory" resultType="com.hu.oneclick.relation.domain.Relation">
        select `OBJECT_ID`, `TARGET_ID`
        from `relation`
        <where>
            <if test="id != null">
                (`OBJECT_ID` = #{id} or `TARGET_ID` = #{id})
            </if>
            <if test="categorys != null and categorys.length > 0">
                and `CATEGORY` in
                <foreach collection="categorys" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据对象ID和分类查询关系列表，并根据分类查询对应表的标题 -->
    <select id="getRelationListWithTitleByObjectIdAndCategory" resultType="com.hu.oneclick.relation.domain.Relation">
        SELECT r.id,
               r.object_id AS objectId,
               r.target_id AS targetId,
               r.category,
               r.ext_json AS extJson,
               r.create_time AS createTime,
               r.create_user_id AS createUserId,
               CASE
                   WHEN r.category = 'FEATURE_TO_TEST_CASE' THEN tc.title
                   WHEN r.category = 'USE_CASE_TO_TEST_CASE' THEN tc.title
                   WHEN r.category = 'TEST_CASE_TO_ISSUE' THEN i.title
                   WHEN r.category = 'ISSUE_TO_TEST_CASE' THEN tc.title
                   ELSE ''
                   END AS title
        FROM relation r
                 LEFT JOIN test_case tc ON r.target_id = tc.id AND r.category IN ('FEATURE_TO_TEST_CASE', 'USE_CASE_TO_TEST_CASE', 'ISSUE_TO_TEST_CASE')
                 LEFT JOIN issue i ON r.target_id = i.id AND r.category = 'TEST_CASE_TO_ISSUE'
        WHERE r.object_id = #{objectId}
          AND r.category = #{category}
    </select>

    <select id="getRelationListByTargetIdAndCategory" resultType="com.hu.oneclick.relation.domain.Relation">
        SELECT r.id,
               r.object_id AS objectId,
               r.target_id AS targetId,
               r.category,
               r.ext_json AS extJson,
               r.create_time AS createTime,
               r.create_user_id AS createUserId,
               CASE
                   WHEN r.category = 'FEATURE_TO_TEST_CASE' THEN f.title
                   WHEN r.category = 'USE_CASE_TO_TEST_CASE' THEN uc.title
                   WHEN r.category = 'TEST_CASE_TO_ISSUE' THEN tc.title
                   WHEN r.category = 'ISSUE_TO_TEST_CASE' THEN i.title
                   ELSE ''
                   END AS title
        FROM relation r
                 LEFT JOIN feature f ON r.object_id = f.id AND r.category = 'FEATURE_TO_TEST_CASE'
                 LEFT JOIN use_case uc ON r.object_id = uc.id AND r.category = 'USE_CASE_TO_TEST_CASE'
                 LEFT JOIN test_case tc ON r.object_id = tc.id AND r.category = 'TEST_CASE_TO_ISSUE'
                 LEFT JOIN issue i ON r.object_id = i.id AND r.category = 'ISSUE_TO_TEST_CASE'
        WHERE r.target_id = #{targetId}
          AND r.category = #{category}
    </select>
</mapper>