<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.SprintDao">

    <resultMap type="com.hu.oneclick.model.domain.Sprint" id="SprintMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="startDate" column="start_date" jdbcType="TIMESTAMP"/>
        <result property="endDate" column="end_date" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="authorName" column="author_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="epic" column="epic" jdbcType="VARCHAR"/>
    </resultMap>
    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultMap="SprintMap">
        select
        id, user_id, title, start_date, end_date, description, author_name, create_time, update_time, project_id,epic
        from oneclick.sprint
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="startDate != null">
                and start_date = #{startDate}
            </if>
            <if test="endDate != null">
                and end_date = #{endDate}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="authorName != null and authorName != ''">
                and author_name = #{authorName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
        </where>
    </select>
    <!--查询单个-->
    <select id="queryById" resultMap="SprintMap">
        select id,
               user_id,
               title,
               start_date,
               end_date,
               description,
               author_name,
               create_time,
               update_time,
               project_id,
               epic
        from sprint
        where id = #{id} and user_id = #{masterId}
    </select>
    <select id="queryTitles" resultType="com.hu.oneclick.model.domain.dto.LeftJoinDto">
        select id,
               title
        from sprint
        <where>
            project_id = #{projectId}
            and user_id = #{masterId}
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
        </where>

    </select>


    <!--通过主键修改数据-->
    <update id="update">
        update oneclick.sprint
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="authorName != null and authorName != ''">
                author_name = #{authorName},
            </if>
            <if test="epic != null and epic != ''">
                epic = #{epic},
            </if>
                update_time = NOW()
        </set>
        where id = #{id}
    </update>

</mapper>
