<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.SubUserProjectDao">
    <resultMap type="com.hu.oneclick.model.entity.SubUserProject" id="SubUserProjectMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteByUserId">
        delete
        from `sub_user_project`
        where user_id = #{userId}
    </delete>

    <select id="queryByUserId" resultType="com.hu.oneclick.model.entity.SubUserProject">
        select user_id as userId, project_id as projectId, open_project_by_default_id as openProjectByDefaultId
        FROM sub_user_project
        where user_id = #{userId}
    </select>

    <select id="selectTitlesByUserId" resultType="java.lang.String">
        SELECT
        p.title
        FROM `sys_user` su
        JOIN `sub_user_project` sup ON su.id = sup.user_id
        JOIN `project` p ON p.room_id = su.room_id AND p.id IN
        <foreach collection="projectIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        WHERE su.id = #{userId}
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="" useGeneratedKeys="true">
        insert into sub_user_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id,
            project_id,
            open_project_by_default_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId},
            #{projectId},
            #{openProjectByDefaultId}
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        <if test="projectId != null and projectId != ''">
            update oneclick.sub_user_project
            <set>
                <if test="projectId != null">
                    project_id = #{projectId},
                </if>
                <if test="openProjectByDefaultId != null">
                    open_project_by_default_id=#{openProjectByDefaultId},
                </if>
            </set>
            where user_id = #{userId}
        </if>
    </update>

</mapper>
