<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.SysCustomFieldDao">

    <resultMap type="com.hu.oneclick.model.entity.SysCustomField" id="SysCustomFieldMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="fieldName" column="field_name" jdbcType="VARCHAR"/>
        <result property="fieldNameCn" column="field_name_cn" jdbcType="VARCHAR"/>
        <result property="defaultValues" column="default_values" jdbcType="VARCHAR"/>
        <result property="fieldType" column="field_type" jdbcType="VARCHAR"/>
        <result property="scope" column="scope" jdbcType="VARCHAR"/>
        <result property="chartDisplay" column="chart_display" jdbcType="INTEGER"/>
        <result property="mandatory" column="mandatory" jdbcType="INTEGER"/>
        <result property="uiDisplay" column="ui_display" jdbcType="INTEGER"/>
        <result property="length" column="length" jdbcType="INTEGER"/>
        <result property="allowAddedValue" column="allow_added_value" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="valueList" column="value_list" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        id, field_name, field_name_cn,value_list, default_values, `field_type`, `scope`, mandatory,length,chart_display,ui_display,sort
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="SysCustomFieldMap">
        select id,
        field_name,
        field_name_cn,
        value_list,
        default_values,
        chart_display,
        ui_display,
        mandatory,
        length,
        allow_added_value
        from sys_custom_field
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysCustomFieldMap">
        select id,
               field_name,
               field_name_cn,
               default_values
        from sys_custom_field limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysCustomFieldMap">
        select
        id, field_name, field_name_cn, default_values
        from sys_custom_field where allow_added_value=1
    </select>

    <select id="queryByFieldName" resultMap="SysCustomFieldMap">
        select
        id, field_name, field_name_cn, default_values
        from sys_custom_field
        where field_name = #{fieldName}
    </select>
    <select id="getAllSysCustomFieldByScope" resultMap="SysCustomFieldMap">
        select
         <include refid="Base_Column_List" />
        from sys_custom_field
        where scope like CONCAT('%',#{scope},'%') order by sort
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_custom_field(field_name, field_name_cn, default_values)
        values (#{fieldName}, #{fieldNameCn}, #{defaultValues})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_custom_field(field_name, field_name_cn, default_values)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.fieldName}, #{entity.fieldNameCn}, #{entity.defaultValues})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_custom_field(field_name, field_name_cn, default_values)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.fieldName}, #{entity.fieldNameCn}, #{entity.defaultValues})
        </foreach>
        on duplicate key update
        field_name = values(field_name) , field_name_cn = values(field_name_cn) , default_values =
        values(default_values)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_custom_field
        <set>
            <if test="fieldName != null and fieldName != ''">
                field_name = #{fieldName},
            </if>
            <if test="fieldNameCn != null and fieldNameCn != ''">
                field_name_cn = #{fieldNameCn},
            </if>
            <if test="defaultValues != null and defaultValues != ''">
                default_values = #{defaultValues},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from sys_custom_field
        where id = #{id}
    </delete>

</mapper>
