<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.SysProjectPermissionDao">
    <!--开启缓存-->
    <cache-ref namespace="com.hu.oneclick.dao.ProjectDao"/>
    <resultMap type="com.hu.oneclick.model.entity.SysProjectPermission" id="SysProjectPermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="subUserId" column="sub_user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="operationAuthId" column="operation_auth_id" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap type="com.hu.oneclick.model.domain.dto.SysProjectPermissionDto" id="queryBySubUserIdMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="subUserId" column="sub_user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="operationAuthId" column="operation_auth_id" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="markName" column="mark_name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryBySubUserId" resultMap="queryBySubUserIdMap">
        select
               p.id,
               p.sub_user_id,
               p.project_id,
               p.update_time,
               p.create_time,
               p.operation_auth_id,
               a.mark_name,
               a.parent_id
        from sys_project_permission p
        join sys_operation_authority a on p.operation_auth_id = a.id
        where sub_user_id = #{subUserId}
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into oneclick.sys_project_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subUserId != null">
                sub_user_id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="operationAuthId != null">
                operation_auth_id,
            </if>
            update_time,
            create_time,

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subUserId != null">
                #{subUserId},
            </if>
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="operationAuthId != null">
                #{operationAuthId},
            </if>
            NOW(),
            NOW()
        </trim>
    </insert>
    <insert id="batchInsert"  keyProperty="id" useGeneratedKeys="true">
        insert into oneclick.sys_project_permission
        (id,sub_user_id,project_id,operation_auth_id,create_time,update_time)
        VALUES
        <foreach collection="sysProjectPermissions" item="i" separator=",">
            (#{i.id},#{i.subUserId},#{i.projectId},#{i.operationAuthId},NOW(),NOW())
        </foreach>
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update oneclick.sys_project_permission
        <set>
            <if test="subUserId != null">
                sub_user_id = #{subUserId},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="operationAuthId != null">
                operation_auth_id = #{operationAuthId},
            </if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteBySubUserId">
        delete from sys_project_permission where sub_user_id = #{subUserId}
    </delete>

</mapper>
