<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.SystemConfigDao">
    <resultMap id="BaseResultMap" type="com.hu.oneclick.model.domain.SystemConfig">
        <id column="system_config_id" jdbcType="INTEGER" property="id"/>
        <result column="system_config_key" jdbcType="VARCHAR" property="key"/>
        <result column="system_config_value" jdbcType="VARCHAR" property="value"/>
        <result column="system_config_value1" jdbcType="VARCHAR" property="value1"/>
        <result column="system_config_create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="system_config_update_time" jdbcType="TIMESTAMP" property="update_time"/>
    </resultMap>
    <sql id="Base_Column_List">
        system_config
        .
        id
        as system_config_id, system_config.`key` as `system_config_key`,
    system_config.`value` as `system_config_value`, system_config.value1 as system_config_value1, 
    system_config.create_time as system_config_create_time, system_config.update_time as system_config_update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_config system_config
        where system_config.id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getDate" resultType="java.lang.String">
        select value
        from system_config
        where `key` = #{key}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from system_config
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByKey">
        delete from system_config where `key` =#{key}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hu.oneclick.model.domain.SystemConfig"
            useGeneratedKeys="true">
        insert into system_config (`key`, `value`, value1,
                                   create_time, update_time)
        values (#{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{value1,jdbcType=VARCHAR},
                #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.hu.oneclick.model.domain.SystemConfig" useGeneratedKeys="true">
        insert into system_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="key != null">
                `key`,
            </if>
            <if test="value != null">
                `value`,
            </if>
            <if test="value1 != null">
                value1,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="update_time != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="key != null">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="value1 != null">
                #{value1,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hu.oneclick.model.domain.SystemConfig">
        update system_config
        <set>
            <if test="key != null">
                `key` = #{key,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                `value` = #{value,jdbcType=VARCHAR},
            </if>
            <if test="value1 != null">
                value1 = #{value1,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hu.oneclick.model.domain.SystemConfig">
        update system_config
        set `key`       = #{key,jdbcType=VARCHAR},
            `value`     = #{value,jdbcType=VARCHAR},
            value1      = #{value1,jdbcType=VARCHAR},
            create_time = #{create_time,jdbcType=TIMESTAMP},
            update_time = #{update_time,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByKey" parameterType="com.hu.oneclick.model.domain.SystemConfig">
        update system_config
        set `value`     = #{value,jdbcType=VARCHAR},
            update_time =NOW()
        where `key` = #{key}
    </update>
</mapper>