<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.SysUserBusinessDao">
    <resultMap id="BaseResultMap" type="com.hu.oneclick.model.entity.SysUserBusiness">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="key_id" jdbcType="VARCHAR" property="keyId"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="invisible" jdbcType="VARCHAR" property="invisible"/>
        <result column="btn_str" jdbcType="VARCHAR" property="btnStr"/>
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , `type`, key_id, `value`, btn_str, tenant_id, delete_flag,invisible
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_business
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="checkIsValueExist" resultType="com.hu.oneclick.model.entity.SysUserBusiness">
        select
        <include refid="Base_Column_List"/>
        from sys_user_business
        where type = #{param1} and key_id = #{param2}
    </select>

    <select id="findByRoleIdAndProjectIdAndUserId" resultType="com.hu.oneclick.model.entity.SysUserBusiness">
        select
        <include refid="Base_Column_List"/>
        from sys_user_business
        where role_Id = #{param1} and project_Id = #{param2} and user_Id = #{param3}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sys_user_business
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByUserId" parameterType="java.lang.String">
        delete
        from sys_user_business
        where user_id = #{userId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByUserIdAndProjectId" parameterType="java.lang.String">
        delete
        from sys_user_business
        where user_id = #{userId,jdbcType=VARCHAR} and project_id = #{projectId,jdbcType=VARCHAR}
    </delete>


    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hu.oneclick.model.entity.SysUserBusiness"
            useGeneratedKeys="true">
        insert into sys_user_business (`type`, key_id, `value`,
                                       btn_str, tenant_id, delete_flag)
        values (#{type,jdbcType=VARCHAR}, #{keyId,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR},
                #{btnStr,jdbcType=VARCHAR}, #{tenantId,jdbcType=BIGINT}, #{deleteFlag,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.hu.oneclick.model.entity.SysUserBusiness" useGeneratedKeys="true">
        insert into sys_user_business
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                `type`,
            </if>
            <if test="keyId != null">
                key_id,
            </if>
            <if test="value != null">
                `value`,
            </if>
            <if test="invisible != null">
                invisible,
            </if>
            <if test="btnStr != null">
                btn_str,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>

            <if test="userId != null">
                user_id,
            </if>

            <if test="userName != null">
                user_name,
            </if>

            <if test="projectId != null">
                project_Id,
            </if>

            <if test="projectName != null">
                project_Name,
            </if>

            <if test="roleId != null">
                role_Id,
            </if>

            <if test="roleName != null">
                role_Name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="keyId != null">
                #{keyId,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="invisible != null">
                #{invisible,jdbcType=VARCHAR},
            </if>
            <if test="btnStr != null">
                #{btnStr,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=VARCHAR},
            </if>

            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hu.oneclick.model.entity.SysUserBusiness">
        update sys_user_business
        <set>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="keyId != null">
                key_id = #{keyId,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                `value` = #{value,jdbcType=VARCHAR},
            </if>
            <if test="btnStr != null">
                btn_str = #{btnStr,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>

            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>

            <if test="projectId != null">
                project_Id = #{projectId,jdbcType=BIGINT},
            </if>

            <if test="projectName != null">
                project_Name = #{projectName,jdbcType=VARCHAR},
            </if>

            <if test="roleId != null">
                role_Id = #{roleId,jdbcType=BIGINT},
            </if>

            <if test="roleName != null">
                role_Name = #{roleName,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hu.oneclick.model.entity.SysUserBusiness">
        update sys_user_business
        set `type`      = #{type,jdbcType=VARCHAR},
            key_id      = #{keyId,jdbcType=VARCHAR},
            `value`     = #{value,jdbcType=VARCHAR},
            btn_str     = #{btnStr,jdbcType=VARCHAR},
            tenant_id   = #{tenantId,jdbcType=BIGINT},
            delete_flag = #{deleteFlag,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=BIGINT},
            user_name = #{userName,jdbcType=VARCHAR},
            project_Id = #{projectId,jdbcType=BIGINT},
            project_Name = #{projectName,jdbcType=VARCHAR},
            role_Id = #{roleId,jdbcType=BIGINT},
            role_Name = #{roleName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByExampleSelective">
        update sys_user_business
        set btn_str = #{btnStr}
        where `type` = #{type}
          and key_id = #{keyId}

    </update>
</mapper>
