<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.SysUserDao">

    <!--开启缓存-->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

    <resultMap type="com.hu.oneclick.model.domain.SysUser" id="SysUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="photo" column="photo" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="registerDate" column="register_date" jdbcType="TIMESTAMP"/>
        <result property="contactNo" column="contact_no" jdbcType="VARCHAR"/>
        <result property="company" column="company" jdbcType="VARCHAR"/>
        <result property="profession" column="profession" jdbcType="VARCHAR"/>
        <result property="industry" column="industry" jdbcType="VARCHAR"/>
        <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>
        <result property="activeState" column="active_state" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="INTEGER"/>
        <result property="timeZone" column="time_zone" jdbcType="VARCHAR"/>
        <result property="locale" column="locale" jdbcType="VARCHAR"/>
        <result property="manager" column="manager" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="activitiDate" column="activiti_date" jdbcType="TIMESTAMP"/>
        <result property="activitiNumber" column="activiti_number" jdbcType="INTEGER"/>
        <result property="expireDate" column="expire_date" jdbcType="TIMESTAMP"/>
        <result property="sysRoleId" column="sys_role_id" jdbcType="INTEGER"/>
        <result property="userClass" column="user_class" jdbcType="VARCHAR"/>
        <result property="roomId" column="room_id" jdbcType="BIGINT"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysUserMap">
        select id,
               email,
               user_name,
               password,
               photo,
               status,
               register_date,
               contact_no,
               company,
               profession,
               industry,
               close_date,
               active_state,
               enable,
               time_zone,
               locale,
               manager,
               del_flag,
               create_time,
               update_time,
               sys_role_id,
               room_id
        from oneclick.sys_user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysUserMap">
        select id,
               email,
               user_name,
               password,
               photo,
               status,
               register_date,
               contact_no,
               company,
               profession,
               industry,
               close_date,
               active_state,
               enable,
               time_zone,
               locale,
               manager,
               del_flag,
               create_time,
               update_time,
               sys_role_id,
               room_id
        from oneclick.sys_user limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysUserMap">
        select
        id, email, user_name,
        password, photo, status,
        register_date, contact_no, company,
        profession, industry, close_date, active_state,
        enable, time_zone, locale, manager, del_flag, create_time, update_time,sys_role_id,room_id
        from oneclick.sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="photo != null and photo != ''">
                and photo = #{photo}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="registerDate != null">
                and register_date = #{registerDate}
            </if>
            <if test="contactNo != null and contactNo != ''">
                and contact_no = #{contactNo}
            </if>
            <if test="company != null and company != ''">
                and company = #{company}
            </if>
            <if test="profession != null and profession != ''">
                and profession = #{profession}
            </if>
            <if test="industry != null and industry != ''">
                and industry = #{industry}
            </if>
            <if test="closeDate != null">
                and close_date = #{closeDate}
            </if>
            <if test="activeState != null">
                and active_state = #{activeState}
            </if>
            <if test="enable != null">
                and enable = #{enable}
            </if>
            <if test="timeZone != null and timeZone != ''">
                and time_zone = #{timeZone}
            </if>
            <if test="locale != null and locale != ''">
                and locale = #{locale}
            </if>
            <if test="manager != null">
                and manager = #{manager}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>
    <select id="queryAllIdOrParentId" resultMap="SysUserMap">
        select
        id, email, user_name,
        password, photo, status,
        register_date, contact_no, company,
        profession, industry, close_date, active_state,
        enable, time_zone, locale, manager, del_flag, create_time, update_time,sys_role_id,room_id
        from oneclick.sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </select>
    <select id="queryByEmail" resultMap="SysUserMap">
        select id,
               email,
               user_name,
               password,
               photo,
               status,
               register_date,
               contact_no,
               company,
               profession,
               industry,
               close_date,
               active_state,
               enable,
               time_zone,
               locale,
               manager,
               del_flag,
               create_time,
               update_time,
               activiti_number,
               activiti_date,
               expire_date,
               room_id
        from oneclick.sys_user
        where email = #{email}
          and del_flag = 0 limit 1
    </select>
    <select id="querySubUsers" resultType="com.hu.oneclick.model.domain.dto.SubUserDto"
            parameterType="com.hu.oneclick.model.domain.dto.SubUserDto">
        <!--select u.id as id,
        u.email as email,
        u.user_name as userName,
        u.photo as photo,
        u.register_date as registerDate,
        u.enable as enable,
        u.time_zone as timeZone,
        u.update_time as updateTime,
        u.parent_id as parentId,
        u.sys_role_id as sysRoleId,
        sup.project_id as projectIdStr,

        sr.role_name as roleName
        from sys_user u
        left join sub_user_project sup on u.id = sup.user_id
        left join sys_role sr on u.sys_role_id = sr.id
        <where>
            1 = 1
            and u.parent_id = #{parentId}
        </where>
        order by u.register_date desc-->
    </select>
    <select id="querySubUserInfo" resultType="com.hu.oneclick.model.domain.dto.SubUserDto">
        /*select u.id            as id,
               u.email         as email,
               u.user_name     as userName,
               u.photo         as photo,
               u.register_date as registerDate,
               u.enable        as enable,
               u.time_zone     as timeZone,
               u.update_time   as updateTime,
               u.parent_id     as parentId,
               u.sys_role_id   as sysRoleId,
               sup.project_id  as projectIdStr,

               sr.role_name    as roleName
        from sys_user u
                 left join sub_user_project sup on u.id = sup.user_id
                 left join sys_role sr on u.sys_role_id = sr.id
        where 1 = 1
          and u.id = #{userId}
          and u.parent_id = #{masterId}*/
    </select>
    <select id="queryByNameSubUsers" resultType="com.hu.oneclick.model.domain.dto.SubUserDto">
       <!-- select
        id as id,
        user_name as userName
        from sys_user
        <where>
            1 = 1
            and parent_id = #{masterId}
            <if test="subUserName != null and subUserName != ''">
                and user_name like concat('%',#{subUserName},'%')
            </if>
            limit 0,10
        </where>
-->
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into oneclick.sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="userName != null and userName != ''">
                user_name,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="photo != null and photo != ''">
                photo,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="contactNo != null and contactNo != ''">
                contact_no,
            </if>
            <if test="company != null and company != ''">
                company,
            </if>
            <if test="profession != null and profession != ''">
                profession,
            </if>
            <if test="industry != null and industry != ''">
                industry,
            </if>
            <if test="closeDate != null">
                close_date,
            </if>
            <if test="activeState != null">
                active_state,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="timeZone != null and timeZone != ''">
                time_zone,
            </if>
            <if test="locale != null and locale != ''">
                locale,
            </if>
            <if test="manager != null">
                manager,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="sysRoleId != null and sysRoleId != ''">
                sys_role_id,
            </if>
            <if test="roomId != null">
                room_id,
            </if>
            register_date,
            create_time,
            update_time,

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="userName != null and userName != ''">
                #{userName},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="photo != null and photo != ''">
                #{photo},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="contactNo != null and contactNo != ''">
                #{contactNo},
            </if>
            <if test="company != null and company != ''">
                #{company},
            </if>
            <if test="profession != null and profession != ''">
                #{profession},
            </if>
            <if test="industry != null and industry != ''">
                #{industry},
            </if>
            <if test="closeDate != null">
                #{closeDate},
            </if>
            <if test="activeState != null">
                #{activeState},
            </if>
            <if test="enable != null">
                #{enable},
            </if>
            <if test="timeZone != null and timeZone != ''">
                #{timeZone},
            </if>
            <if test="locale != null and locale != ''">
                #{locale},
            </if>
            <if test="manager != null">
                #{manager},
            </if>
            <if test="delFlag != null">
                #{delFlag},
            </if>
            <if test="sysRoleId != null and sysRoleId != ''">
                #{sysRoleId},
            </if>
            <if test="roomId != null">
                #{roomId},
            </if>
            NOW(),
            NOW(),
            NOW()
        </trim>
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update oneclick.sys_user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="photo != null and photo != ''">
                photo = #{photo},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="contactNo != null and contactNo != ''">
                contact_no = #{contactNo},
            </if>
            <if test="company != null and company != ''">
                company = #{company},
            </if>
            <if test="profession != null and profession != ''">
                profession = #{profession},
            </if>
            <if test="industry != null and industry != ''">
                industry = #{industry},
            </if>
            <if test="closeDate != null">
                close_date = #{closeDate},
            </if>
            <if test="activeState != null">
                active_state = #{activeState},
            </if>
            <if test="enable != null">
                enable = #{enable},
            </if>
            <if test="timeZone != null and timeZone != ''">
                time_zone = #{timeZone},
            </if>
            <if test="locale != null and locale != ''">
                locale = #{locale},
            </if>
            <if test="activitiNumber != null and activitiNumber != ''">
                activiti_number = #{activitiNumber},
            </if>
            <if test="activitiDate != null">
                activiti_date = NOW(),
            </if>
            <if test="expireDate != null">
                expire_date = #{expireDate},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
            update_time = NOW()
        </set>
        where
        id = #{id}
        and del_flag = 0
    </update>
    <update id="updatePassword">
        update oneclick.sys_user
        set password    = #{password},
            update_time = NOW()
        where id = #{id}
          and del_flag = 0
    </update>
<!--    <update id="updateSubUser">-->
        <!--update oneclick.sys_user
        <set>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="photo != null and photo != ''">
                photo = #{photo},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="contactNo != null and contactNo != ''">
                contact_no = #{contactNo},
            </if>
            <if test="closeDate != null">
                close_date = #{closeDate},
            </if>
            <if test="sysRoleId != null and sysRoleId != ''">
                sys_role_id = #{sysRoleId},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
            update_time = NOW()
        </set>
        where
        id = #{id}
        and parent_id = #{parentId}
        and del_flag = 0-->
<!--    </update>-->

    <update id="updateSubUser">
         update oneclick.sys_user
         <set>
            user_name=#{userName},
            sys_role_id=#{sysRoleId}
         </set>
          where id=#{id}
    </update>

    <update id="updateSubUserPassword">
        <!--update oneclick.sys_user
        <set>
            password = #{password},
            update_time = NOW()
        </set>
        where
        id = #{id}
        and parent_id = #{parentId}
        and manager = 2
        and del_flag = 0-->
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from oneclick.sys_user
        where id = #{id}
    </delete>

<!--    <delete id="deleteSubUser">-->
        <!--delete
        from sys_user
        where id = #{id}
          and manager = 2
          and parent_id = #{masterId}-->
<!--    </delete>-->
        <delete id="deleteSubUser">
            delete
            from sys_user
            where id = #{id}
        </delete>

    <select id="queryPlatformUsers" resultType="com.hu.oneclick.model.domain.dto.PlatformUserDto">
        select u.id as id,
               u.email as email,
               u.user_name as userName,
               u.status as status,
               u.register_date as registerDate,
               u.contact_no as contactNo,
               u.company as company,
               u.profession as profession,
               u.industry as industry,
               u.close_date as closeDate,
               u.enable as enable,
               u.active_state as activeState,
               u.time_zone as timeZone,
               u.locale as locale
        from sys_user u
        where u.manager = 0
    </select>

    <update id="updatePlatformUser">
        update oneclick.sys_user
        <set>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            <if test="contactNo != null and contactNo != ''">
                contact_no = #{contactNo},
            </if>
            <if test="company != null and company != ''">
                company = #{company},
            </if>
            <if test="profession != null and profession != ''">
                contact_no = #{contactNo},
            </if>
            <if test="industry != null and industry != ''">
                industry = #{industry},
            </if>
            <if test="activeState != null">
                active_state = #{activeState},
            </if>
            <if test="timeZone != null">
                `time_zone` = #{timeZone},
            </if>
            <if test="locale != null and locale != ''">
                locale = #{locale},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
            update_time = NOW()
        </set>
        where
        id = #{id}
        and del_flag = 0
    </update>

    <delete id="deleteByParentId">
       /* delete from sys_user where
             parent_id = #{parentId}*/
    </delete>

    <select id="getExpireDate" resultType="java.util.Date">
        select expire_date from sys_user where id = #{userId}
    </select>
    <select id="queryByLikeEmail"  resultMap="SysUserMap">
        select id,
               email,
               user_name,
               password,
               photo,
               status,
               register_date,
               contact_no,
               company,
               profession,
               industry,
               sys_role_id,
               close_date,
               active_state,
               enable,
               time_zone,
               locale,
               manager,
               del_flag,
               create_time,
               update_time,
               room_id,
               activiti_number,
               activiti_date,
               expire_date,
               user_class
        from oneclick.sys_user
        where email like CONCAT('%',#{email})
          and del_flag = 0
    </select>
    <select id="getAccountRole" resultType="com.hu.oneclick.model.domain.dto.SysUserRoleDto">
        SELECT
            u.id as id,
            u.email as email,
            u.user_name as userName,
            r.role_name as roleName,
            r.role_desc as roleDesc,
            r.id as roleId
        FROM
            sys_user u
                JOIN sys_role r ON u.sys_role_id = r.id
                AND u.id = #{userId}
                AND r.id = #{roleId}
    </select>

    <resultMap type="com.hu.oneclick.model.domain.dto.SubUserDto" id="SysUserProjectMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="photo" column="photo" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="registerDate" column="register_date" jdbcType="TIMESTAMP"/>
        <result property="contactNo" column="contact_no" jdbcType="VARCHAR"/>
        <result property="company" column="company" jdbcType="VARCHAR"/>
        <result property="profession" column="profession" jdbcType="VARCHAR"/>
        <result property="industry" column="industry" jdbcType="VARCHAR"/>
        <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>
        <result property="activeState" column="active_state" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="INTEGER"/>
        <result property="timeZone" column="time_zone" jdbcType="VARCHAR"/>
        <result property="locale" column="locale" jdbcType="VARCHAR"/>
        <result property="manager" column="manager" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="activitiDate" column="activiti_date" jdbcType="TIMESTAMP"/>
        <result property="activitiNumber" column="activiti_number" jdbcType="INTEGER"/>
        <result property="expireDate" column="expire_date" jdbcType="TIMESTAMP"/>
        <result property="sysRoleId" column="sys_role_id" jdbcType="INTEGER"/>
        <result property="userClass" column="user_class" jdbcType="VARCHAR"/>
        <result property="roomId" column="room_id" jdbcType="BIGINT"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="projectIdStr" column="project_id" jdbcType="VARCHAR"/>
        <result property="projectsSts" column="projects_sts" jdbcType="VARCHAR"/>
        <result property="openProjectByDefaultId" column="open_project_by_default_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="querySubUsersByRoomId" resultMap="SysUserProjectMap">
        select
        su.*,
        sup.project_id,
        sr.role_name,
        uop.project_id AS open_project_by_default_id
        from `sys_user` su
        join `sub_user_project` sup on su.id = sup.user_id
        join `sys_role` sr on su.sys_role_id = sr.id
        join `user_use_open_project` uop on uop.user_id = su.id
        and su.room_id = #{roomId}
    </select>

<!--  未开启驼峰规则需要使用resultMap标签进行映射  -->
<!--    <select id="querySubUsersByRoomId1" resultType="com.hu.oneclick.model.domain.dto.SubUserDto">-->
<!--        select * from sys_user where room_id = #{roomId} and id != #{id}-->
<!--    </select>-->

</mapper>
