<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.TestCaseDao">

    <resultMap type="com.hu.oneclick.model.domain.TestCase" id="TestCaseMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="priority" column="priority" jdbcType="VARCHAR"/>
        <result property="feature" column="feature" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="executedDate" column="executed_date" jdbcType="TIMESTAMP"/>
        <result property="authorName" column="author_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="browser" column="browser" jdbcType="VARCHAR"/>
        <result property="platform" column="platform" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="VARCHAR"/>
        <result property="caseCategory" column="case_category" jdbcType="VARCHAR"/>
        <result property="testType" column="test_type" jdbcType="VARCHAR"/>
        <result property="externaId" column="externa_id" jdbcType="VARCHAR"/>
        <result property="env" column="env" jdbcType="VARCHAR"/>
        <result property="preCondition" column="pre_condition" jdbcType="VARCHAR"/>
        <result property="lastRunStatus" column="last_run_status" jdbcType="INTEGER"/>


        <result property="module" column="module" jdbcType="VARCHAR"/>
        <result property="testDevice" column="test_device" jdbcType="VARCHAR"/>
        <result property="testData" column="test_data" jdbcType="VARCHAR"/>
        <result property="testMethod" column="test_method" jdbcType="VARCHAR"/>
        <result property="foreignId" column="foreign_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="comments" column="comments" jdbcType="VARCHAR"/>
    </resultMap>
    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultMap="TestCaseMap">
        select
        id, project_id, title, priority, feature, description, executed_date, author_name, create_time, update_time,
        user_id, browser, platform, version, case_category, test_type, externa_id, env, pre_condition, last_run_status,
        `module`,test_device,test_data,test_method,foreign_id,status
        from oneclick.test_case
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="priority != null and priority != ''">
                and priority = #{priority}
            </if>
            <if test="feature != null and feature != ''">
                and feature = #{feature}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="executedDate != null">
                and executed_date = #{executedDate}
            </if>
            <if test="authorName != null and authorName != ''">
                and author_name = #{authorName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="browser != null and browser != ''">
                and browser = #{browser}
            </if>
            <if test="platform != null and platform != ''">
                and platform = #{platform}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="caseCategory != null and caseCategory != ''">
                and case_category = #{caseCategory}
            </if>
            <if test="testType != null and testType != ''">
                and test_type = #{testType}
            </if>
            <if test="externaId != null and externaId != ''">
                and externa_id = #{externaId}
            </if>
            <if test="env != null and env != ''">
                and env = #{env}
            </if>
            <if test="preCondition != null and preCondition != ''">
                and pre_condition = #{preCondition}
            </if>
            <if test="lastRunStatus != null">
                and last_run_status = #{lastRunStatus}
            </if>

            <if test="filter != null and filter != ''">
                ${filter}
            </if>

        </where>
    </select>

    <!--查询单个-->
    <select id="queryById" resultType="com.hu.oneclick.model.domain.TestCase">
        select t.id as id,
               t.project_id as projectId,
               t.title as title,
               t.priority as priority,
               t.feature as feature,
               t.description as description,
               t.executed_date as executedDate,
               t.author_name as authorName,
               t.create_time as createTime,
               t.update_time as updateTime,
               t.user_id as userId,
               t.browser as browser,
               t.platform as platform,
               t.version as version,
               t.case_category as caseCategory,
               t.test_type as testType,
               t.externa_id as externaId,
               t.env as env,
               t.pre_condition as preCondition,
               t.last_run_status as lastRunStatus,
               t.module as `module`,
               t.test_device as testDevice,
               t.test_data as testData,
               t.test_method as testMethod,
               t.foreign_id as foreignId,
               f.title as featureTitle,
               t.status as status,
               t.comments as comments
        from test_case t
        left join feature f on f.id = t.feature
        where t.id = #{id}
    </select>

    <select id="queryTitles" resultType="com.hu.oneclick.model.domain.dto.LeftJoinDto">
        select
               id,
        title
        from test_case
        <where>
            project_id = #{projectId}
            and user_id = #{masterId}
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
        </where>

    </select>


    <!--通过主键修改数据-->
    <update id="update">
        update test_case
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="priority != null and priority != ''">
                priority = #{priority},
            </if>
            <if test="feature != null and feature != ''">
                feature = #{feature},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="executedDate != null">
                executed_date = #{executedDate},
            </if>
            <if test="authorName != null and authorName != ''">
                author_name = #{authorName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="browser != null and browser != ''">
                browser = #{browser},
            </if>
            <if test="platform != null and platform != ''">
                platform = #{platform},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="caseCategory != null and caseCategory != ''">
                case_category = #{caseCategory},
            </if>
            <if test="testType != null and testType != ''">
                test_type = #{testType},
            </if>
            <if test="externaId != null and externaId != ''">
                externa_id = #{externaId},
            </if>
            <if test="env != null and env != ''">
                env = #{env},
            </if>
            <if test="lastRunStatus != null and lastRunStatus != ''">
                last_run_status = #{lastRunStatus},
            </if>

            <if test="module != null and module != ''">
                `module` = #{module},
            </if>
            <if test="testDevice != null and testDevice != ''">
                test_device = #{testDevice},
            </if>
            <if test="testData != null">
                test_data = #{testData},
            </if>
            <if test="testMethod != null and testMethod != ''">
                test_method = #{testMethod},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            update_time=NOW()
        </set>
        where id = #{id}
    </update>

    <select id="getProjectEnv" resultType="string" parameterType="java.lang.String">
        SELECT DISTINCT env FROM test_case WHERE project_id = #{projectId}
    </select>

    <select id="getProjectVersion" resultType="string" parameterType="java.lang.String">
        SELECT DISTINCT version FROM test_case WHERE project_id = #{projectId}
    </select>
</mapper>
