<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.TestCycleScheduleModelDao">
  <resultMap id="BaseResultMap" type="com.hu.oneclick.model.entity.TestCycleScheduleModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="test_cycle_id" jdbcType="INTEGER" property="testCycleId" />
    <result column="auto_job_start" jdbcType="TIMESTAMP" property="autoJobStart" />
    <result column="start_time_week" jdbcType="INTEGER" property="startTimeWeek" />
    <result column="auto_job_run" jdbcType="TIMESTAMP" property="autoJobRun" />
    <result column="auto_job_link" jdbcType="VARCHAR" property="autoJobLink" />
    <result column="auto_job_end" jdbcType="TIMESTAMP" property="autoJobEnd" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
  </resultMap>
  <sql id="Base_Column_List">
    id, test_cycle_id, auto_job_start, auto_job_run, auto_job_link, auto_job_end,
    frequency
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_cycle_schedule_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test_cycle_schedule_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hu.oneclick.model.entity.TestCycleScheduleModel" useGeneratedKeys="true">
    insert into test_cycle_schedule_model (test_cycle_id, auto_job_start, start_time_week,
      auto_job_run, auto_job_link, auto_job_end,frequency)
    values (#{testCycleId,jdbcType=INTEGER}, #{autoJobStart,jdbcType=TIMESTAMP}, #{startTimeWeek,jdbcType=INTEGER},
      #{autoJobRun,jdbcType=TIMESTAMP}, #{autoJobLink,jdbcType=VARCHAR}, #{autoJobEnd,jdbcType=TIMESTAMP},
      #{frequency,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hu.oneclick.model.entity.TestCycleScheduleModel" useGeneratedKeys="true">
    insert into test_cycle_schedule_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testCycleId != null">
        test_cycle_id,
      </if>
      <if test="autoJobStart != null">
          auto_job_start,
      </if>
      <if test="startTimeWeek != null">
        start_time_week,
      </if>
      <if test="autoJobRun != null">
          auto_job_run,
      </if>
      <if test="autoJobLink != null">
          auto_job_link,
      </if>
      <if test="autoJobEnd != null">
          auto_job_end,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testCycleId != null">
        #{testCycleId,jdbcType=INTEGER},
      </if>
      <if test="autoJobStart != null">
        #{autoJobStart,jdbcType=TIMESTAMP},
      </if>
      <if test="startTimeWeek != null">
        #{startTimeWeek,jdbcType=INTEGER},
      </if>
      <if test="autoJobRun != null">
        #{autoJobRun,jdbcType=TIMESTAMP},
      </if>
      <if test="autoJobLink != null">
        #{autoJobLink,jdbcType=VARCHAR},
      </if>
      <if test="autoJobEnd != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hu.oneclick.model.entity.TestCycleScheduleModel">
    update test_cycle_schedule_model
    <set>
      <if test="testCycleId != null">
        test_cycle_id = #{testCycleId,jdbcType=INTEGER},
      </if>
      <if test="autoJobStart != null">
          auto_job_start = #{autoJobStart,jdbcType=TIMESTAMP},
      </if>
      <if test="startTimeWeek != null">
        start_time_week = #{startTimeWeek,jdbcType=INTEGER},
      </if>
      <if test="autoJobRun != null">
          auto_job_run = #{autoJobRun,jdbcType=TIMESTAMP},
      </if>
      <if test="autoJobLink != null">
          auto_job_link = #{autoJobLink,jdbcType=VARCHAR},
      </if>
      <if test="autoJobEnd != null">
          auto_job_end = #{autoJobEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hu.oneclick.model.entity.TestCycleScheduleModel">
    update test_cycle_schedule_model
    set test_cycle_id = #{testCycleId,jdbcType=INTEGER},
      auto_job_start = #{autoJobStart,jdbcType=TIMESTAMP},
      start_time_week = #{startTimeWeek,jdbcType=INTEGER},
      auto_job_run = #{autoJobRun,jdbcType=TIMESTAMP},
      auto_job_link = #{autoJobLink,jdbcType=VARCHAR},
      auto_job_end = #{autoJobEnd,jdbcType=TIMESTAMP},
      frequency = #{frequency,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
