<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.TestCycleDao">

    <resultMap type="com.hu.oneclick.model.entity.TestCycle" id="TestCycleMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="create_user_id" jdbcType="BIGINT"/>
        <result property="projectId" column="project_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="status" column="test_cycle_status" jdbcType="INTEGER"/>
        <result property="runStatus" column="run_status" jdbcType="INTEGER"/>
        <result property="lastRunDate" column="last_run_date" jdbcType="TIMESTAMP"/>
        <result property="lastModify" column="last_modify" jdbcType="TIMESTAMP"/>
        <result property="version" column="test_version" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>

        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="assignTo" column="assign_to" jdbcType="VARCHAR"/>
        <result property="notifiyList" column="notifiy_list" jdbcType="VARCHAR"/>

    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultType="com.hu.oneclick.model.entity.TestCycle">
        select t.id             as id,
               t.create_user_id as userId,
               t.project_id     as projectId,
               t.title          as title,
               t.status         as status,
               t.run_status     as runStatus,
               t.last_run_date  as lastRunDate,
               t.last_modify    as lastModify,
               t.test_version   as version,
               t.create_time    as createTime,
               t.update_time    as updateTime,
               t.description    as description,
               t.assign_to      as assignTo,
               t.notifiy_list   as notifiyList
        from test_cycle t
        where t.id = #{id}
          and t.create_user_id = #{masterId}
    </select>

    <select id="queryTitles" resultType="com.hu.oneclick.model.domain.dto.LeftJoinDto">
        select id,
        title
        from test_cycle
        <where>
            project_id = #{projectId}
            and user_id = #{masterId}
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
        </where>

    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TestCycleMap">
        select
        id, create_user_id, project_id, title, test_cycle_status, run_status, last_run_date, last_modify,description,
        test_version,
        create_time, update_time, assign_to,notifiy_list
        from oneclick.test_cycle
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and create_user_id = #{userId}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="status != null">
                and test_cycle_status = #{status}
            </if>
            <if test="runStatus != null">
                and run_status = #{runStatus}
            </if>
            <if test="lastRunDate != null">
                and last_run_date = #{lastRunDate}
            </if>
            <if test="lastModify != null">
                and last_modify = #{lastModify}
            </if>

            <if test="version != null and version != ''">
                and test_version = #{version}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>

        </where>
    </select>

    <!--通过主键修改数据-->
    <update id="updateByPrimaryKeySelective">
        update oneclick.test_cycle
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="status != null">
                test_cycle_status = #{status},
            </if>
            <if test="runStatus != null">
                run_status = #{runStatus},
            </if>
            <if test="lastRunDate != null">
                last_run_date = #{lastRunDate},
            </if>
            <if test="lastModify != null">
                last_modify = #{lastModify},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="version != null and version != ''">
                test_version = #{version},
            </if>

            <if test="notifiyList != null and notifiyList != ''">
                notifiy_list = #{notifiyList},
            </if>
            <if test="assignTo != null and assignTo != ''">
                assign_to = #{assignTo},
            </if>
            <!-- 新增 WJK BEGIN-->
            <if test="runStatus != null and runStatus != ''">
                run_status = #{runStatus},
            </if>
            <if test="stepStatus != null and stepStatus != ''">
                step_status = #{stepStatus},
            </if>
            <!-- 新增 WJK END-->
            update_time = NOW()
        </set>
        where id = #{id}
    </update>

    <select id="getTestCycleVersion" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT version, title, id
        FROM test_cycle
        WHERE project_id = #{projectId}
          AND env = #{env}
          AND version = #{version}
    </select>

    <select id="getAllTestCycle" resultType="java.util.Map">
        SELECT *
        FROM test_case ca
                 JOIN test_cycle_join_test_case cy ON ca.id = cy.test_case_id
                 JOIN test_cycle tc on cy.test_cycle_id = tc.id
        WHERE ca.project_id = #{param1}
          AND ca.version = #{param2}
          and ca.env = #{param3}
          and tc.title in (#{param4})
    </select>
    <select id="getTestCycleByProjectIdAndEvn" resultType="java.lang.String">
        SELECT `title`
        FROM test_cycle
        WHERE project_id = #{param1}
          AND env = #{param2}
          and current_release = #{param3}
    </select>

    <select id="getIdByTitle" resultType="java.lang.Long">
        SELECT id
        FROM test_cycle
        WHERE title = #{title}
          AND project_id = #{projectId}
    </select>

    <select id="queryTestCyclesWithCasesByConditions" parameterType="map" resultType="map">
        SELECT
        tc.id AS test_cycle_id,
        tc.title AS test_cycle_title,
        tc.instance_count as test_cycle_instance,
        tc.allure_report_url,
        tca.id AS test_case_id,
        tca.title AS test_case_title,
        tca.run_status,
        tca.module AS test_case_module,
        tca.platform AS test_case_platform,
        tcjtc.execute_status
        FROM
        test_cycle tc
        LEFT JOIN test_cycle_join_test_case tcjtc ON tc.id = tcjtc.test_cycle_id
        LEFT JOIN test_case tca ON tcjtc.test_case_id = tca.id
        <choose>
            <when test="ids == null">
                <where>
                    <if test="project_id != null">
                        tc.project_id= #{project_id}
                    </if>
                    <if test="env != null">
                        AND tc.env= #{env}
                    </if>
                    <if test="version != null">
                        AND tc.version= #{version}
                    </if>
                    <if test="current_release != null">
                        AND tc.current_release= #{current_release}
                    </if>
                </where>
            </when>
            <otherwise>
                WHERE tc.id IN (#{ids})
            </otherwise>
        </choose>
    </select>

</mapper>
