<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.TestCaseStepDao">

    <resultMap type="com.hu.oneclick.model.domain.TestCaseStep" id="TestCaseStepMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="testCaseId" column="test_case_id" jdbcType="INTEGER"/>
        <result property="step" column="step" jdbcType="VARCHAR"/>
        <result property="testDate" column="test_date" jdbcType="TIMESTAMP"/>
        <result property="expectedResult" column="expected_result" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="actualResult" column="actual_result" jdbcType="VARCHAR"/>
    </resultMap>


    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultMap="TestCaseStepMap">
        select
        id, test_case_id, step, test_date, expected_result, status, create_time,actual_result
        from oneclick.test_case_step
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="testCaseId != null">
                and test_case_id = #{testCaseId}
            </if>
            <if test="step != null and step != ''">
                and step = #{step}
            </if>
            <if test="testDate != null">
                and test_date = #{testDate}
            </if>
            <if test="expectedResult != null and expectedResult != ''">
                and expected_result = #{expectedResult}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>
    <update id="update">
        update test_case_step
        <set>
            <if test="step != null and step != ''">
                step=#{step},
            </if>
            <if test="expectedResult != null and expectedResult != ''">
                expected_result=#{expectedResult},
            </if>
            <if test="status != null and status != ''">
                status=#{status},
            </if>
            <if test="testDate != null">
                test_date=#{testDate},
            </if>
            <if test="actualResult != null and actualResult != ''">
                actual_result = #{actualResult},
            </if>
        </set>
        where id = #{id} and test_case_id = #{testCaseId}
    </update>
</mapper>
