<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.TestCycleDao">

    <resultMap type="com.hu.oneclick.model.domain.TestCycle" id="TestCycleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="runStatus" column="run_status" jdbcType="INTEGER"/>
        <result property="lastRunDate" column="last_run_date" jdbcType="TIMESTAMP"/>
        <result property="lastModify" column="last_modify" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="ped" column="ped" jdbcType="TIMESTAMP"/>
        <result property="authorName" column="author_name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="assignTo" column="assign_to" jdbcType="VARCHAR"/>
        <result property="notifiyList" column="notifiy_list" jdbcType="VARCHAR"/>

    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultType="com.hu.oneclick.model.domain.TestCycle">
        select t.id            as id,
               t.user_id       as userId,
               t.project_id    as projectId,
               t.title         as title,
               t.status        as status,
               t.run_status    as runStatus,
               t.last_run_date as lastRunDate,
               t.last_modify   as lastModify,
               t.version       as version,
               t.create_time   as createTime,
               t.update_time   as updateTime,
               t.ped           as ped,
               t.author_name   as authorName,
               t.description   as description,
               t.assign_to     as assignTo,
               t.notifiy_list  as notifiyList
        from test_cycle t
        where t.id = #{id}
          and t.user_id = #{masterId}
    </select>

    <select id="queryTitles" resultType="com.hu.oneclick.model.domain.dto.LeftJoinDto">
        select id,
        title
        from test_cycle
        <where>
            project_id = #{projectId}
            and user_id = #{masterId}
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
        </where>

    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TestCycleMap">
        select
        id, user_id, project_id, title, status, run_status, last_run_date, last_modify,description, version,
        create_time, update_time, ped, author_name,assign_to,notifiy_list
        from oneclick.test_cycle
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="runStatus != null">
                and run_status = #{runStatus}
            </if>
            <if test="lastRunDate != null">
                and last_run_date = #{lastRunDate}
            </if>
            <if test="lastModify != null">
                and last_modify = #{lastModify}
            </if>

            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="ped != null">
                and ped = #{ped}
            </if>
            <if test="authorName != null and authorName != ''">
                and author_name = #{authorName}
            </if>
        </where>
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update oneclick.test_cycle
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="runStatus != null">
                run_status = #{runStatus},
            </if>
            <if test="lastRunDate != null">
                last_run_date = #{lastRunDate},
            </if>
            <if test="lastModify != null">
                last_modify = #{lastModify},
            </if>

            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="ped != null">
                ped = #{ped},
            </if>
            <if test="authorName != null and authorName != ''">
                author_name = #{authorName},
            </if>
            <if test="notifiyList != null and notifiyList != ''">
                notifiy_list = #{notifiyList},
            </if>
            <if test="assignTo != null and assignTo != ''">
                assign_to = #{assignTo},
            </if>
            <!-- 新增 WJK BEGIN-->
            <if test="runStatus != null and runStatus != ''">
                run_status = #{runStatus},
            </if>
            <if test="stepStatus != null and stepStatus != ''">
                step_status = #{stepStatus},
            </if>
            <!-- 新增 WJK END-->
            update_time = NOW()
        </set>
        where id = #{id}
    </update>

    <select id="getTestCycleVersion" resultType="string" parameterType="java.lang.String">
        SELECT version
        FROM test_cycle
        WHERE project_id = #{projectId}
        AND env = #{env}
        AND version = #{version}
    </select>

    <select id="getAllTestCycle" resultType="java.util.Map">
        SELECT *
        FROM test_case ca
                 JOIN test_cycle_join_test_case cy ON ca.id = cy.test_case_id
                 JOIN test_cycle tc on cy.test_cycle_id = tc.id WHERE ca.project_id = #{param1}
            AND ca.version = #{param2}
            and ca.env = #{param3}
            and tc.version in (#{param4})
    </select>


</mapper>
