<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.TestCaseDao">

    <resultMap type="com.hu.oneclick.model.entity.TestCase" id="TestCaseMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="priority" column="priority" jdbcType="VARCHAR"/>
        <result property="feature" column="feature" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="executeTime" column="execute_time" jdbcType="TIMESTAMP"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="updateUserId" column="update_user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="browser" column="browser" jdbcType="VARCHAR"/>
        <result property="platform" column="platform" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="VARCHAR"/>
        <result property="caseCategory" column="case_category" jdbcType="VARCHAR"/>
        <result property="testType" column="test_type" jdbcType="VARCHAR"/>
        <result property="externalLinkId" column="external_link_id" jdbcType="VARCHAR"/>
        <result property="env" column="env" jdbcType="VARCHAR"/>
        <result property="testCondition" column="test_condition" jdbcType="VARCHAR"/>
        <result property="lastRunStatus" column="last_run_status" jdbcType="INTEGER"/>
        <result property="module" column="module" jdbcType="VARCHAR"/>
        <result property="testDevice" column="test_device" jdbcType="VARCHAR"/>
        <result property="testData" column="test_data" jdbcType="VARCHAR"/>
        <result property="testMethod" column="test_method" jdbcType="VARCHAR"/>
        <result property="testStatus" column="test_status" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
    </resultMap>
    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultMap="TestCaseMap">
        select
        id, project_id, title, priority, feature, description, execute_time, create_user_id, create_time, update_time,
        browser, platform, version, case_category, test_type, external_link_id, env, test_condition, last_run_status,
        `module`,test_device,test_data,test_method,test_status
        from oneclick.test_case
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="priority != null and priority != ''">
                and priority = #{priority}
            </if>
            <if test="feature != null and feature != ''">
                and feature = #{feature}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="executeTime != null">
                and execute_time = #{executeTime}
            </if>
            <if test="createUserId != null">
                and create_user_id = #{createUserId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="browser != null and browser != ''">
                and browser = #{browser}
            </if>
            <if test="platform != null and platform != ''">
                and platform = #{platform}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="caseCategory != null and caseCategory != ''">
                and case_category = #{caseCategory}
            </if>
            <if test="testType != null and testType != ''">
                and test_type = #{testType}
            </if>
            <if test="externalLinkId != null and externalLinkId != ''">
                and external_link_id = #{externalLinkId}
            </if>
            <if test="env != null and env != ''">
                and env = #{env}
            </if>
            <if test="testCondition != null and testCondition != ''">
                and test_condition = #{testCondition}
            </if>
            <if test="lastRunStatus != null">
                and last_run_status = #{lastRunStatus}
            </if>
            <if test="testStatus != null">
                and test_status = #{testStatus}
            </if>

            <if test="filter != null and filter != ''">
                ${filter}
            </if>

        </where>
    </select>

    <!--查询单个-->
    <select id="queryById" resultType="com.hu.oneclick.model.entity.TestCase">
        select t.id as id,
               t.project_id as projectId,
               t.title as title,
               t.priority as priority,
               t.feature as feature,
               t.description as description,
               t.execute_time as executeTime,
               t.user_id as createUserId,
               t.create_time as createTime,
               t.update_time as updateTime,
               t.browser as browser,
               t.platform as platform,
               t.version as version,
               t.case_category as caseCategory,
               t.test_type as testType,
               t.external_id as externalLinkId,
               t.env as env,
               t.test_condition as testCondition,
               t.last_run_status as lastRunStatus,
               t.module as `module`,
               t.test_device as testDevice,
               t.test_data as testData,
               t.test_method as testMethod,
               t.test_status as testStatus,
               t.comments as remarks
        from test_case t
        where t.id = #{id}
    </select>

    <select id="queryTitles" resultType="com.hu.oneclick.model.domain.dto.LeftJoinDto">
        select
               id,
        title
        from test_case
        <where>
            project_id = #{projectId}
            and user_id = #{masterId}
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
        </where>

    </select>


    <!--通过主键修改数据-->
    <update id="updateByPrimaryKeySelective">
        update test_case
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="priority != null and priority != ''">
                priority = #{priority},
            </if>
            <if test="feature != null and feature != ''">
                feature = #{feature},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="executeTime != null">
                execute_time = #{executeTime},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="browser != null and browser != ''">
                browser = #{browser},
            </if>
            <if test="platform != null and platform != ''">
                platform = #{platform},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="caseCategory != null and caseCategory != ''">
                case_category = #{caseCategory},
            </if>
            <if test="testType != null and testType != ''">
                test_type = #{testType},
            </if>
            <if test="externalLinkId != null and externalLinkId != ''">
                external_link_id = #{externalLinkId},
            </if>
            <if test="env != null and env != ''">
                env = #{env},
            </if>
            <if test="testCondition != null and testCondition != ''">
                test_condition = #{testCondition},
            </if>
            <if test="lastRunStatus != null and lastRunStatus != ''">
                last_run_status = #{lastRunStatus},
            </if>

            <if test="module != null and module != ''">
                `module` = #{module},
            </if>
            <if test="testDevice != null and testDevice != ''">
                test_device = #{testDevice},
            </if>
            <if test="testData != null">
                test_data = #{testData},
            </if>
            <if test="testMethod != null and testMethod != ''">
                test_method = #{testMethod},
            </if>
            <if test="testStatus != null and testStatus != ''">
                test_status = #{testStatus},
            </if>
            <!-- 新增 WJK BEGIN-->
            <if test="runStatus != null and runStatus != ''">
                run_status = #{runStatus},
            </if>
            <if test="stepStatus != null and stepStatus != ''">
                step_status = #{stepStatus},
            </if>
            <!-- 新增 WJK END-->
            update_time=NOW()
        </set>
        where id = #{id}
    </update>

    <select id="getProjectVersion" resultType="string" parameterType="java.lang.String">
        SELECT DISTINCT version FROM test_case WHERE project_id = #{projectId}
    </select>

    <select id="getSelectAll" resultType="com.hu.oneclick.model.domain.dto.TestCaseDataDto">
        SELECT t1.id,
               t1.test_case_id as testCaseId,
               t1.run_count,
               t1.run_status,
               t1.update_time,
               t1.create_user_id,
               t1.update_user_id,
               t1.case_run_duration,
               t1.case_total_period,
               t2.id as testCaseId2,
               t2.project_id,
               t2.title,
               t2.priority,
               t2.feature,
               t2.description,
               t2.execute_time,
               t2.create_user_id as tc_create_user_id,
               t2.update_user_id as tc_update_user_id,
               t2.create_time,
               t2.update_time as tc_update_time,
               t2.browser,
               t2.platform,
               t2.version,
               t2.case_category,
               t2.test_type,
               t2.external_link_id,
               t2.env,
               t2.test_condition,
               t2.last_run_status,
               t2.module,
               t2.test_device,
               t2.test_data,
               t2.test_method,
               t2.test_status,
               t2.remarks
        FROM test_cycle_join_test_case t1
                 LEFT JOIN test_case t2 ON t1.test_case_id = t2.id
        WHERE t1.test_cycle_id = #{testCycleId}
    </select>

    <!-- 功能执行率报表相关查询 -->
    <!-- 根据项目ID和版本查询计划测试用例总数 -->
    <select id="countPlannedTestCasesByVersions" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM test_case
        WHERE project_id = #{projectId}
          AND version = #{majorVersion}
    </select>

    <select id="countExecutedTestCasesByVersionsAndCycles" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT tc.id)
        FROM test_case tc
        JOIN test_cycle_join_test_case tcjtc ON tc.id = tcjtc.test_case_id
        JOIN test_cycle tcycle ON tcjtc.test_cycle_id = tcycle.id
        WHERE tc.project_id = #{projectId}
        AND tc.version = #{majorVersion}
        AND tcycle.version IN
        <foreach collection="includeVersions" item="version" open="(" separator="," close=")">
            #{version}
        </foreach>
        <if test="testCycleIds != null and testCycleIds.size() > 0">
        AND tcjtc.test_cycle_id IN
        <foreach collection="testCycleIds" item="cycleId" open="(" separator="," close=")">
            #{cycleId}
        </foreach>
        </if>
        AND tcjtc.run_status IN (1, 2, 3, 4, 4.1, 4.2, 4.3, 4.4, 4.5)
    </select>

    <select id="queryExecutionDetails" resultType="java.util.Map">
        SELECT 
            tc.id as testCaseId,
            tc.title as testCaseTitle,
            tc.version as version,
            tcycle.id as testCycleId,
            tcycle.title as testCycleTitle,
            tcycle.env as testCycleEnv,
            tcycle.version as testCycleVersion,
            tcjtc.update_time as executionTime,
            tcjtc.run_status as executionStatus,
            tcjtc.run_count as runCount,
            tcjtc.id as runCaseId
        FROM test_case tc
        LEFT JOIN test_cycle_join_test_case tcjtc ON tc.id = tcjtc.test_case_id
        INNER JOIN test_cycle tcycle ON tcjtc.test_cycle_id = tcycle.id 
        WHERE tc.project_id = #{projectId}
          AND tc.version = #{majorVersion}
          AND tcycle.version IN 
          <foreach collection="includeVersions" item="version" open="(" close=")" separator=",">
              #{version}
          </foreach>
          <if test="testCycleIds != null and testCycleIds.size() > 0">
            AND tcjtc.test_cycle_id IN 
            <foreach collection="testCycleIds" item="testCycleId" open="(" close=")" separator=",">
                #{testCycleId}
            </foreach>
          </if>
        ORDER BY tc.id, tcjtc.update_time DESC
    </select>
</mapper>