<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.TestCycleJoinTestCaseDao">
    <resultMap type="com.hu.oneclick.model.entity.TestCycleJoinTestCase" id="TestCycleJoinTestCaseMap">
        <result property="testCycleId" column="test_cycle_id" jdbcType="VARCHAR"/>
        <result property="testCaseId" column="test_case_id" jdbcType="VARCHAR"/>
        <result property="executeStatus" column="execute_status" jdbcType="INTEGER"/>
    </resultMap>


    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultMap="TestCycleJoinTestCaseMap">
        select
        test_cycle_id, test_case_id, execute_status
        from oneclick.test_cycle_join_test_case
        <where>
            <if test="testCycleId != null and testCycleId != ''">
                and test_cycle_id = #{testCycleId}
            </if>
            <if test="testCaseId != null and testCaseId != ''">
                and test_case_id = #{testCaseId}
            </if>
            <if test="executeStatus != null">
                and execute_status = #{executeStatus}
            </if>
        </where>
    </select>
    <!--通过主键删除-->
    <delete id="bindCaseDelete">
        delete
        from test_cycle_join_test_case
        where test_case_id = #{testCaseId}
    </delete>
    <delete id="deleteByParam">
        delete
        from test_cycle_join_test_case
        where test_case_id = #{testCaseId} and project_id = #{projectId}
        and test_cycle_id = #{testCycleId}
    </delete>
    <select id="queryBindCaseList" resultType="com.hu.oneclick.model.entity.TestCase">
        select t.id as id,
               t.title as title,
               t.executed_date as executedDate,
               t.author_name as authorName,
               t.case_category as caseCategory,
               t.last_run_status as lastRunStatus
        from test_cycle_join_test_case tc
                join test_case t on tc.test_case_id = t.id
                 join test_cycle c on tc.test_cycle_id = c.id
        where
            c.id = #{testCycleId}
    </select>
    <select id="queryBindCaseRunStatus" resultType="java.util.Map">
        select
            testCycleId,
            testCaseId,
            executeStatus,
            group_concat(status) as runStatus
            from(
                select t.test_cycle_id  as testCycleId,
                   t.test_case_id   as testCaseId,
                   t.execute_status as executeStatus,
                   0 as status
            from test_cycle_join_test_case t
            where t.test_cycle_id = #{testCycleId}
            union
            select t.test_cycle_id as testCycleId,
                   t.test_case_id   as testCaseId,
                   t.execute_status as executeStatus,
                   tcs.status as status
            from test_cycle_join_test_case t
            join test_case_step tcs on t.test_case_id = tcs.test_case_id
            where t.test_cycle_id = #{testCycleId}
            ) as tmp group by tmp.testCaseId
    </select>
    <select id="queryTestCycleStatus" resultType="java.lang.String">
        select
            t.execute_status as executeStatus
            from test_cycle_join_test_case t
            where t.test_cycle_id = #{testCycleId}
    </select>
    <!-- 新增WJK BEGIN-->
    <update id="updateTestCycleJoinTestCase">
        update test_cycle_join_test_case
        <set>
            <if test="runCount != null and runCount != ''">
                run_count = #{runCount},
            </if>
            <if test="caseRunDuration != null and caseRunDuration != '' or caseRunDuration == 0">
                case_run_duration = #{caseRunDuration},
            </if>
            <if test="runStatus != null and runStatus != ''">
                run_status = #{runStatus},
            </if>
            <if test="stepStatus != null and stepStatus != ''">
                step_status = #{stepStatus},
            </if>
            update_time=NOW()
        </set>
        where test_cycle_id = #{testCycleId}
        and test_case_id = #{testCaseId}
        and project_id = #{projectId}
    </update>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAllDate" resultMap="TestCycleJoinTestCaseMap">
        select
        test_cycle_id, test_case_id, execute_status,
        case_run_duration,run_count,user_id,step_status,run_status,update_time
        from oneclick.test_cycle_join_test_case
        <where>
            <if test="testCycleId != null and testCycleId != ''">
                and test_cycle_id = #{testCycleId}
            </if>
            <if test="testCaseId != null and testCaseId != ''">
                and test_case_id = #{testCaseId}
            </if>
        </where>
    </select>
    <select id="getCaseIdListByCycleId" resultType="java.lang.Long">
        select test_case_id from test_cycle_join_test_case where test_cycle_id = #{testCycleId}
    </select>
    <select id="countByTestCaseIdInt" resultType="java.lang.Integer">
        SELECT COUNT(*)
            FROM test_cycle_join_test_case
        WHERE
            test_case_id = #{caseId}
            AND project_id = #{projectId}
            AND test_cycle_id = #{cycleId}
    </select>
    <select id="getCycleJoinTestCaseByCaseId" resultMap="TestCycleJoinTestCaseMap">
        SELECT *
            FROM test_cycle_join_test_case
        WHERE
            test_case_id = #{caseId}
            AND project_id = #{projectId}
            AND test_cycle_id = #{cycleId}
        ORDER BY
            id DESC
        LIMIT 1
    </select>

    <update id="updateRunStatus">
        update test_cycle_join_test_case
        set run_status     = #{param1.statusCode},
            update_user_id = #{param2},
            case_run_duration = #{param1.caseRunDuration},
            case_total_period = #{param1.caseTotalPeriod},
            update_time    = #{param1.stepUpdateTime}
        where test_case_id = #{param1.testCaseId}
          and test_cycle_id = #{param1.testCycleId}
          and project_id = #{param1.projectId}
    </update>
    <!-- 新增 WJK END-->
</mapper>
