<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.ViewDao">
    <!--开启缓存-->
    <cache eviction="FIFO" flushInterval="60000" size="1024" readOnly="true"/>

    <resultMap type="com.hu.oneclick.model.entity.View" id="ViewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="scopeName" column="scope_name" jdbcType="VARCHAR"/>
        <result property="isPrivate" column="is_private" jdbcType="INTEGER"/>
        <result property="creater" column="creater" jdbcType="VARCHAR"/>
        <result property="filter" column="filter" jdbcType="VARCHAR"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="scopeId" column="scope_id" jdbcType="INTEGER"/>
        <result property="isAuto" column="is_auto" jdbcType="INTEGER"/>
        <result property="viewType" column="view_type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="base_sql">
        id, create_user_id, update_user_id,project_id, title,is_auto, `scope_name`,scope_id, is_private, creater, filter, `view_type`, update_user,create_time, update_time,parent_id,`level`
    </sql>
    <!--查询单个-->
    <select id="queryById" resultMap="ViewMap">
        select id,
               create_user_id,
               update_user_id,
               project_id,
               title,
               is_auto,
               scope_name,
               scope_id,
               is_private,
               creater,
               filter,
               update_user,
               create_time,
               update_time,
               parent_id,
               view_type,
               `level`
        from oneclick.view
        where id = #{id}
          and create_user_id = #{masterId}
    </select>

    <!--查询单个-->
    <select id="queryOnlyById" resultMap="ViewMap">
        select
        <include refid="base_sql"></include>
        from oneclick.view
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ViewMap">
        select id,
               create_user_id,
               project_id,
               title,
               is_auto,
               scope_name,
               is_private,
               creater,
               filter,
               update_user,
               create_time,
               update_time,
               parent_id,
               view_type,
               `level`
        from oneclick.view limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ViewMap">
        select
        id, create_user_id, project_id, title,is_auto, scope_name, scope_id,is_private, creater,filter,view_type,update_user, create_time,
        update_time,parent_id,`level`
        from oneclick.view
        <where>
            (create_user_id = #{createUserId} and is_private = 1 and scope_name = #{scopeName} and project_id =
            #{projectId})
            or is_private = 0
            and project_id = #{projectId}
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="scopeName != null and scopeName != ''">
                and scope_name = #{scopeName}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="queryTitleIsExist" resultType="java.lang.Integer">
        select
        count(1)
        from oneclick.view
        where
        create_user_id = #{masterId}
        and project_id = #{projectId}
        and scope_name = #{scopeName}
        and title = #{title}
        <!-- and is_private = #{isPrivate}-->
    </select>
    <select id="queryViewParents" resultType="com.hu.oneclick.model.entity.View">
        select
        title,
        id,
        is_private
        from oneclick.view
        <where>
            create_user_id = #{masterId}  and project_id=#{projectId} and scope_name = #{scopeName}
            and level=0 and is_auto!=1
        </where>
    </select>
    <select id="queryTitleByParentId" resultType="java.lang.String">
        select title
        from oneclick.view
        where id = #{parentId}
    </select>


    <resultMap type="com.hu.oneclick.model.domain.dto.ViewTreeDto" id="queryViewByScopeAllMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="scopeName" column="scope_name" jdbcType="VARCHAR"/>
        <result property="isPrivate" column="is_private" jdbcType="INTEGER"/>
        <result property="creater" column="creater" jdbcType="VARCHAR"/>
        <result property="filter" column="filter" jdbcType="VARCHAR"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="scopeId" column="scope_id" jdbcType="INTEGER"/>
        <result property="isAuto" column="is_auto" jdbcType="INTEGER"/>
        <result property="viewType" column="view_type" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryViewByScopeAll" resultMap="queryViewByScopeAllMap">
        select id,
               create_user_id,
               project_id,
               title,
               is_auto,
               scope_name,
               is_private,
               update_user,
               create_time,
               update_time,
               parent_id,
               `level`,
               filter,
               view_type,
               scope_id
        from oneclick.view
        where create_user_id = #{masterId}
          and project_id = #{projectId}
          and scope_id = #{scopeId}
    </select>


    <resultMap type="com.hu.oneclick.model.domain.dto.ViewTreeDto" id="queryViewTreeByIdMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="scopeName" column="scope_name" jdbcType="VARCHAR"/>
        <result property="isPrivate" column="is_private" jdbcType="INTEGER"/>
        <result property="creater" column="creater" jdbcType="VARCHAR"/>
        <result property="filter" column="filter" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="scopeId" column="scope_id" jdbcType="INTEGER"/>
        <result property="isAuto" column="is_auto" jdbcType="INTEGER"/>
        <result property="viewType" column="view_type" jdbcType="INTEGER"/>
        <collection property="childViews" ofType="com.hu.oneclick.model.domain.dto.ViewTreeDto"
                    select="queryViewTreeById" column="{viewId=parent_id,masterId=create_user_id}"/>
    </resultMap>

    <select id="queryViewTreeById" resultMap="queryViewTreeByIdMap">
        select id,
               create_user_id,
               project_id,
               title,
               is_auto,
               scope_name,
               scope_id,
               is_private,
               owner,
               filter,
               create_time,
               update_time,
               parent_id,
               `level`,
                view_type
        from oneclick.view
        where create_user_id = #{masterId}
          and id = #{viewId}
    </select>

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey">
        delete
        from oneclick.view
        where create_user_id = #{masterId}
          and id = #{id}
    </delete>

    <select id="sql" resultType="com.hu.oneclick.model.entity.Project" parameterType="java.lang.String">
        ${sqlen}
    </select>

    <select id="queryAutoView" parameterType="map" resultType="map">
        select *
        from (select possible_value as possible_value_child, project_id, linked_custom_field_id
              from custom_fields
              WHERE project_id = #{projectId}) as t4
                 RIGHT JOIN (select t2.custom_field_id, t2.type, t2.possible_value, t2.field_name_en
                             from custom_fileld_link as t1,
                                  custom_fields as t2
                             where t1.scope_id = #{scopeId}
                               and t1.custom_field_id = t2.custom_field_id
                               and t2.type = #{type}
                               and t2.field_name_en = #{fieldNameEn}) as t3
                            ON t4.linked_custom_field_id = t3.custom_field_id

    </select>
</mapper>
