<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.oneclick.dao.ViewDao">
    <!--开启缓存-->
    <cache eviction="FIFO" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="com.hu.oneclick.model.domain.View" id="ViewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="scope" column="scope" jdbcType="VARCHAR"/>
        <result property="isPrivate" column="is_private" jdbcType="INTEGER"/>
        <result property="owner" column="owner" jdbcType="VARCHAR"/>
        <result property="filter" column="filter" jdbcType="VARCHAR"/>
        <result property="modifyUser" column="modify_user" jdbcType="VARCHAR"/>
        <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ViewMap">
        select
          id, user_id, project_id, title, scope, is_private, owner, filter, modify_user, modify_date, create_time, update_time,parent_id,`level`
        from oneclick.view
        where id = #{id} and user_id = #{masterId}
    </select>

    <!--查询单个-->
    <select id="queryOnlyById" resultMap="ViewMap">
        select
            id, user_id, project_id, title, scope, is_private, owner, filter, modify_user, modify_date, create_time, update_time,parent_id,`level`
        from oneclick.view
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ViewMap">
        select
          id, user_id, project_id, title, scope, is_private, owner, filter, modify_user, modify_date, create_time, update_time,parent_id,`level`
        from oneclick.view
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ViewMap">
        select
        id, user_id, project_id, title, scope, is_private, owner,filter ,modify_user, modify_date, create_time,
        update_time,parent_id,`level`
        from oneclick.view
        <where>
            user_id = #{userId}
            and project_id = #{projectId}
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="scope != null and scope != ''">
                and scope = #{scope}
            </if>
            <if test="isPrivate != null">
                and is_private = #{isPrivate}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="queryTitleIsExist" resultType="java.lang.Integer">
        select
            count(1)
        from oneclick.view
        where
            user_id = #{masterId}
            and project_id = #{projectId}
            and scope = #{scope}
            and title = #{title}
            <!-- and is_private = #{isPrivate}-->
    </select>
    <select id="queryViewParents" resultType="com.hu.oneclick.model.domain.View">
           select
            title,
            id
        from oneclick.view
        <where>
            user_id = #{masterId}
            and project_id = #{projectId}
            and scope = #{scope}
            and parent_id is null
        </where>
        order by id
        limit 0,10
    </select>
    <select id="queryTitleByParentId" resultType="java.lang.String">
        select
        title
        from oneclick.view
        where id = #{parentId}
    </select>



    <resultMap type="com.hu.oneclick.model.domain.dto.ViewTreeDto" id="queryViewByScopeAllMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="scope" column="scope" jdbcType="VARCHAR"/>
        <result property="isPrivate" column="is_private" jdbcType="INTEGER"/>
        <result property="owner" column="owner" jdbcType="VARCHAR"/>
        <result property="filter" column="filter" jdbcType="VARCHAR"/>
        <result property="modifyUser" column="modify_user" jdbcType="VARCHAR"/>
        <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryViewByScopeAll" resultMap="queryViewByScopeAllMap">
        select
        id, user_id, project_id, title, scope, is_private, owner ,modify_user, modify_date, create_time,
        update_time,parent_id,`level`
        from oneclick.view
        where
        user_id = #{masterId}
        and project_id = #{projectId}
        and scope = #{scope}
    </select>


    <resultMap type="com.hu.oneclick.model.domain.dto.ViewTreeDto" id="queryViewTreeByIdMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="scope" column="scope" jdbcType="VARCHAR"/>
        <result property="isPrivate" column="is_private" jdbcType="INTEGER"/>
        <result property="owner" column="owner" jdbcType="VARCHAR"/>
        <result property="filter" column="filter" jdbcType="VARCHAR"/>
        <result property="modifyUser" column="modify_user" jdbcType="VARCHAR"/>
        <result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <collection property="childViews" ofType="com.hu.oneclick.model.domain.dto.ViewTreeDto" select="queryViewTreeById" column="{viewId=parent_id,masterId=user_id}"></collection>
    </resultMap>

    <select id="queryViewTreeById" resultMap="queryViewTreeByIdMap">
            select
            id, user_id, project_id, title, scope, is_private, owner,filter ,modify_user, modify_date, create_time,
            update_time,parent_id,`level`
            from oneclick.view
            where
            user_id = #{masterId}
            and
            id = #{viewId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into oneclick.view
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="scope != null and scope != ''">
                scope,
            </if>
            <if test="isPrivate != null">
                is_private,
            </if>
            <if test="owner != null and owner != ''">
                owner,
            </if>
            <if test="filter != null and filter != ''">
                filter,
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                modify_user,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="parentId != null and parentId != ''">
                parent_id,
            </if>
            <if test="level != null">
                `level`,
            </if>
            create_time,
            update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="scope != null and scope != ''">
                #{scope},
            </if>
            <if test="isPrivate != null">
                #{isPrivate},
            </if>
            <if test="owner != null and owner != ''">
                #{owner},
            </if>
            <if test="filter != null and filter != ''">
                #{filter},
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                #{modifyUser},
            </if>
            <if test="modifyDate != null">
                #{modifyDate},
            </if>
            <if test="parentId != null and parentId != ''">
                #{parentId},
            </if>
            <if test="level != null">
                #{level},
            </if>
            NOW(),
            NOW()
        </trim>
    </insert>


    <!--通过主键修改数据-->
    <update id="update">
        update oneclick.view
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="isPrivate != null and isPrivate != ''">
                is_private = #{isPrivate},
            </if>
            <if test="filter != null and filter != ''">
                filter = #{filter},
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                modify_user = #{modifyUser},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate},
            </if>
            <if test="parentId != null and parentId != ''">
                parent_id = #{parentId},
            </if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oneclick.view where user_id = #{masterId} and id = #{id}
    </delete>

    <select id="sql" resultType="com.hu.oneclick.model.domain.Project" parameterType="java.lang.String">
        ${sqlen}
    </select>
</mapper>
